<style>
	.top-row{
		margin-top: 20px;
	}
	.bg-blackish{
		height: 750px;
	}
</style>
<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
		<h3 class="text-success">Edit College Information</h3>
	</div>
</div>
<div class="row top-row">
	<%= error_messages_for(@college) %>
	<%= form_for(:college, :url=>{:action=>"update"}, :html=>{class: "form-horizontal"}) do |f| %>
	<%#= render :partial => "form_for_college", :locals=>{:f=>f} %>


		<div class="form-group">
			<label for="name" class="col-lg-4 control-label">College Name</label>
			<div class="col-lg-4">
				<%= f.text_field :name, :class=>"form-control", :placeholder=>"College name", :required=>"required"%>
			</div>
		</div>

		<div class="form-group">
			<label for="name" class="col-sm-4 control-label">Abbreviation</label>
			<div class="col-lg-4">
				<%= f.text_field :abbreviation, :class=>"form-control", :placeholder=>"abbreviation", :required=>"required"%>
			</div>
		</div>
		
		<div class="form-group">
			<label for="name" class="col-sm-4 control-label">Email</label>
			<div class="col-lg-4">
				<%= f.text_field :email, :class=>"form-control", :placeholder=>"email", :required=>"required", type: "email"%>
			</div>
		</div>

		<div class="form-group">
			<label for="name" class="col-sm-4 control-label">City</label>
			<div class="col-lg-4">
				<%= f.select :city,[['Casablanca','Casablanca'],['Beni Mellal','Beni Mellal'],['Khouribga','Khouribga'],['Mohammedia','Mohammedia'],['Meknes','Meknes'],['Ifrane','Ifrane'],['Fes','Fes'],['Marrakech','Marrakech'],['Rabat','Rabat'],['Kenitra','Kenitra'],['Tangier','Tangier'],['Agadir','Agadir'],['Nador','Nador'],['Tetouan','Tetouan']],{},{:class=>"form-control"}%>
			</div>
		</div>

		<div class="form-group">
			<label for="name" class="col-sm-4 control-label">Address</label>
			<div class="col-lg-4">
				<%= f.text_field :address, :class=>"form-control", :placeholder=>"address" , :required=>"required"%>
			</div>
		</div>

		<div class="form-group">
			<label for="name" class="col-sm-4 control-label">Phone</label>
			<div class="col-lg-4">
				<%= f.text_field :phone, :class=>"form-control", :placeholder=>"phone" , :required=>"required", type: "number"%>
			</div>
		</div>

		<div class="form-group">
			<label for="name" class="col-sm-4 control-label">Fax</label>
			<div class="col-lg-4">
				<%= f.text_field :fax, :class=>"form-control", :placeholder=>"fax" , :required=>"required", type: "number"%>
			</div>
		</div>

		<div class="form-group">
			<label for="name" class="col-sm-4 control-label">Type</label>
			<div class="col-lg-4">
				<%= f.select :private_public,[['private','private'],['public','public']],{},{:class=>"form-control"}%>
			</div>
		</div>

		<div class="form-group">
			<label for="name" class="col-sm-4 control-label">Description</label>
			<div class="col-lg-4">
				<%= f.text_area :description, :class=>"form-control",:size=>"5x5", :placeholder=>"description", :required=>"required" %>
			</div>
		</div>

		<div class="form-group">
			<label for="name" class="col-sm-4 control-label">Scholarship</label>
			<div class="col-lg-4">
				<%= f.select :scholarship, [["yes","true"],["no","false"]],{},{:class=>"form-control"} %>
			</div>
		</div>

		<div class="form-group">
			<label for="name" class="col-sm-4 control-label">College Website</label>
			<div class="col-lg-4">
				<%= f.text_field :college_url, :class=>"form-control", :placeholder=>"College website", :required=>"required"%>
			</div>
		</div>
	</div>
	

	<div class="row">
		<div class="col-lg-8"></div>
		<div class="col-lg-4">
			<%= link_to "Cancel", {:action=>"list"}, {class: "btn btn-danger"} %>
			<%= submit_tag "Update", id: "submit",  class: "btn btn-success", :data=>{disable_with: "Updating ..."} %>  
		</div>
	</div>
	<% end %>
</div>
