	<style>
	.bg-blackish{
		height: 840px;
	}
	</style>
	<div class="row">
		<div class="col-lg-6 top-left">
			<div id="morocco_map_div" style="width:450; height:300"></div>
			<!-- <div id="chart_div_sahara" style="width:450; height:500;"></div> -->
		</div>
		<div class="col-lg-6 top-right">
			<div id="chart_div_months" style="width:400; height:580"></div>
		</div>
	</div>
	
	<div class="row bottom-row">
		<div class="col-lg-6 bottom-left">
			<div id="pie_chart_div" style="width:450; height:600"></div>	
		</div>
		<div class="col-lg-6 bottom-right">
			<div id="rate_for_major_div" style="width:400; height:600"></div>
		</div>
	</div>
	<div class="row bottom-row">
		<div class="col-lg-6 bottom-left">
			<div id="chart_div" style="width:400; height:600"></div>
		</div>
		<div class="col-lg-6 bottom-right">
		</div>
	</div>

	<!-- modals for stats -->
		<%= render :partial=>"statistics/college_all_majors_stats" %>
		<%= render :partial=>"statistics/college_monthly_applicants" %>
		<%= render :partial=>"statistics/stats_morocco_map" %>
		<%= render :partial=>"statistics/acceptance_rate_for_major" %>
		<%#= render :partial=>"statistics/num_applicants_per_year" %>

	<!---end of modal for stats-->

