
<div class="row">
<% if @student %>
	<%= form_for @student, :url=>password_reset_path(params[:id]) do |f| %>
	<%= error_messages_for(@student) %>
		<div class="row">
			<div class="form-group col-lg-1">
				<label for="" class="control-label">Password</label>
			</div>

			<div class="form-group col-lg-3">
				<%= f.password_field :password, class: "form-control" %>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-lg-1">
				<label for="" class="control-label">password confirmation</label>
			</div>

			<div class="form-group col-lg-3">
				<%= f.password_field :password_confirmation, class: "form-control" %>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-3"></div>
			<div class="form-group col-lg-3">
				<%= submit_tag "Change Password", class: "btn btn-success", disable_with: "changing password" %>
			</div>
		</div>
	<% end %>	
<% elsif @college %>
	<%= form_for @college, :url=>password_reset_path(params[:id]) do |f| %>
	<%= error_messages_for(@college) %>
		<div class="row">
			<div class="form-group col-lg-1">
				<label for="" class="control-label">Password</label>
			</div>

			<div class="form-group col-lg-3">
				<%= f.password_field :password, class: "form-control" %>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-lg-1">
				<label for="" class="control-label">password confirmation</label>
			</div>

			<div class="form-group col-lg-3">
				<%= f.password_field :password_confirmation, class: "form-control" %>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-3"></div>
			<div class="form-group col-lg-3">
				<%= submit_tag "Change Password", class: "btn btn-success", disable_with: "changing password" %>
			</div>
		</div>
	<% end %>
<% else %>
	<h2>Corrupted url, please try again</h2>
<% end %>
</div>

