<%= form_for @college, :url=>{:action=>"update_for_college", :id=>params[:id]} do |f| %>
  <%= f.label :password %><br />
  <%= f.password_field :password %>
<br>
   <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %>

  <%= submit_tag "Change Password", class: "btn btn-success", disable_with: "changing password" %>
<% end %>