
<div class="modal fade modal_for_new_password_reset" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"><b>Mot De Passe Oublié</b></h4>
			</div>
			<%= form_tag password_resets_path, :method=>"post" do %>
				<div class="modal-body">
					<div class="form-group col-lg-4">
						<%= text_field_tag :email, params[:email], class: "form-control", placeholder: "email address"%>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-danger" data-dismiss="modal">close</button>
					<%= submit_tag "Send email", class: "btn btn-success", disable_with: "Sending Password..." %>	
				</div>
			<% end %>
		</div>
	</div>
</div>