<% if !flash[:notice].blank? %>
	<h2>there are some errors here</h2>
<% end %>
<%= form_tag :controller=>"PasswordResets", :action=>"create_for_college" do %>
  <div>
  	<%= label_tag :email %><br />
  	<%= text_field_tag :email, params[:email] %>
  </div>
	<%= submit_tag "Send email to college", class: "btn btn-send", disable_with: "Sending email" %>
<% end %>