


<div class="modal">		
	<div class="modal-body">
		<h2>Password Instructions were sent to you email</h2>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger" data-dismiss="modal">close</button>
	</div>
</div>
