<h2>@admin login</h2>
<h3>modify it later to use the login partial</h3>
<div class="row">
	<div class="col-lg-2"></div>
	<div class="col-lg-6">
			<%= form_tag({:controller => "access",action: "attempt_login_admin"}) do %>
				<%= render :partial=>"application/login" %>
			<% end %>
	</div> <!-- end of cols -->
</div> <!-- end of row -->