<h1>Change your Settings</h1>
<%= error_messages_for(@admin) %>

<% if !flash[:notice].blank? %>
	<div class="row">
		<h4 class="text-success"><%= flash[:notice] %></h4>
	</div>
<% end %>
<div class="row">
	<div class="col-lg-12">
		<%= form_for(:admin, :url=>{:controller=>"admins", :action=>"update_settings"}, :html=>{:class=>"form-horizontal"}) do |f| %>
			<div class="form-group">
				<label for="first_name" class="col-lg-4 control-label">first name</label>
				<div class="col-lg-4">
					<%= f.text_field :first_name, :class=>"form-control", :placeholder=>"first name" %>
				</div>
			</div>

			<div class="form-group">
				<label for="last_name" class="col-sm-4 control-label">last name</label>
				<div class="col-lg-4">
					<%= f.text_field :last_name, :class=>"form-control", :placeholder=>"last_name" %>
				</div>
			</div>

			<div class="form-group">
				<label for="name" class="col-sm-4 control-label">Email</label>
				<div class="col-lg-4">
					<%= f.text_field :email, :class=>"form-control", :placeholder=>"email" %>
				</div>
			</div>

			<div class="form-group">
				<label for="name" class="col-sm-4 control-label">Old Password</label>
				<div class="col-lg-4">
					<%= f.password_field :old_password, :class=>"form-control", :placeholder=>"old password" %>
				</div>
			</div>

			<div class="form-group">
				<label for="name" class="col-sm-4 control-label">New Password</label>
				<div class="col-lg-4">
					<%= f.password_field :password, :class=>"form-control", :placeholder=>"password" %>
				</div>
			</div>

			<div class="form-group">
				<label for="name" class="col-sm-4 control-label">Password confirmation</label>
				<div class="col-lg-4">
					<%= f.password_field :password_confirmation, :class=>"form-control", :placeholder=>"password confirmation" %>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8">
					<%= link_to "Cancel", {:controller=> "colleges", :action=>"list"}, {:class=>"btn btn-danger pull-right"} %>
				</div>
				<div class="col-lg-4">
					<%= submit_tag "Update",  class: "btn btn-success", disabled: false, disable_with: "Updating..." %>
				</div>
				
			</div>
		<% end %>
	</div>
</div>
