<option value="Agadir">Agadir</option>
<option value="Ait melloul">Ait melloul</option>
<option value="Assila">Assila</option>
<option value="Bengurir">Bengurir</option>
<option value="Benimellal">Benimellal</option>
<option value="Benslimane">Benslimane</option>
<option value="Berrchid">Berrchid</option>
<option value="Casablanca">Casablanca</option>
<option value="Dakar">Dakar</option>
<option value="Dakhla">Dakhla</option>
<option value="El Jadida">El Jadida</option>
<option value="Errachidia">Errachidia</option>
<option value="Essaouira">Essaouira</option>
<option value="Fès">Fès</option>
<option value="Guelmim">Guelmim</option>
<option value="Ifrane">Ifrane</option>
<option value="Inezagane">Inezagane</option>
<option value="Jrada">Jrada</option>
<option value="Kénitra">Kénitra</option>
<option value="Khouribga">Khouribga</option>
<option value="Kser El kebir">Kser El kebir</option>
<option value="Laâyoune">Laâyoune</option>
<option value="Larach">Larach</option>
<option value="Marrakech">Marrakech</option>
<option value="Meknes">Meknes</option>
<option value="Mohammedia">Mohammedia</option>
<option value="Oujda">Oujda</option>
<option value="Rabat">Rabat</option>
<option value="Safi">Safi</option>
<option value="Salé">Salé</option>
<option value="Settat">Settat</option>
<option value="Sidi Slimane">Sidi Slimane</option>
<option value="Sousse">Sousse</option>
<option value="Tan tan">Tan tan</option>
<option value="Tanger">Tanger</option>
<option value="Témara">Témara</option>
<option value="Tetouan">Tetouan</option>