<div class="row">
     <div class="col-lg-6">
        <%= f.text_field :last_name, :class=>"form-control", :placeholder=>"nom", :required=>"required"%> <br>
   </div>
   <div class="col-lg-6">
        <%= f.text_field :first_name, :class=>"form-control", :placeholder=>"prénom", :required=>"required" %> <br>
   </div>
</div>
	<%= f.text_field :cin, :class=>"form-control date", :placeholder=>"CIN", :required=>"required" %> <br>
	<%= f.text_field :email, :class=>"form-control", :placeholder=>"email", :required=>"required", type: "email" %> <br>
	<%= f.password_field :password, :class=>"form-control", :placeholder=>"mot de passe", :required=>"required" %> <br>
	<%= f.password_field :password_confirmation, :class=>"form-control", :placeholder=>"confirmation de mot de passe", :required=>"required"%>
	<br>
<%= f.text_field :phone, :class=>"form-control", :placeholder=>"telephone", :required=>"required", type: "number" %> <br>
<%= f.text_field :city, :class=>"form-control", :placeholder=>"ville", :required=>"required" %> <br>
<%= f.text_field :address, :class=>"form-control", :placeholder=>"address", :required=>"required" %> <br>
<%= f.text_field :nationality, :class=>"form-control", :placeholder=>"nationalité", :required=>"required" %> <br>
<%= f.text_field :birthday, :class=>"form-control", :placeholder=>"date de naissance dd/mm/yyyy", :required=>"required", type: "date" %> <br>
<label>sexe</label>   
<%= f.radio_button(:gender, "male") %>
<%= label_tag(:male, "H") %>&nbsp &nbsp &nbsp
<%= f.radio_button(:gender, "female") %>
<%= label_tag(:female, "F") %><br> <br>