<div class="modal fade modal_for_change_password" tabindex="-12" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	
	<div class="modal-dialog">
		<%= form_tag({:controller=>"students",action: "change_pass"}) do %>
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"><b>Changer Mot de Passe</b></h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-12">
						<%= password_field_tag :old_password,"", :class=>"form-control", :placeholder=>"ancienne mot de passe", required: "true" %><br>
						<%= password_field_tag :password,"", :class=>"form-control", :placeholder=>"nouveau mot de passe", required: "true" %><br>
						<%= password_field_tag :password_confirmation,"", :class=>"form-control", :placeholder=>"confirmation nouveau mot de passe", required: "true" %> <br>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="col-lg-12">
					<button class="btn btn-danger" data-dismiss="modal">close</button>
					<%= submit_tag "Change", class: "btn btn-success pull-right change-pass-btn", :data=>{disable_with: "Updating..."} %>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>
	
