<div class="modal">
	<div class="row">
		<div class="col-lg-12">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4>Sign up</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-6">
						<%= form_for(:student, :url=>{:action=>"create"}, :html=>{:class=>"form"}) do |f| %>
						<%= render :partial=>"students/fields_for_signup_student", :locals=>{:f=>f}  %>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">close</button>
							<%= submit_tag "Sign up", id: "submit",  class: "btn btn-success", disable_with: "signing up ..." %> 
						</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
