
<div class="modal-dialog">
    <div class="modal modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Sign Up</h4>
        </div>
        <div class="modal-body">
            <%= form_for :student, :url=>{:controller=>"students", :action=>"create"} do |f| %>
            <%= render :partial=>"students/fields_for_signup_student", :locals=>{:f=>f} %>
            <div class="row">   
                <div class="col-lg-offset-6">
                    <button class="btn btn-danger" data-dismiss="modal">close</button>
                    <%= submit_tag "Register", class: "btn btn-success", disable_with: "Registering .." %>
                </div>  
            </div>
            <% end %> <!-- end of form tag -->
        </div> <!-- end of modal body -->   
    </div>   
</div>


