<% if !flash[:password].blank? %>
	<%= flash[:password]%>
<% end %>
<div class="row">
	<div class="col-lg-8">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Profile Settings</h4>
				</div>
				<div class="modal-body">
					<%= form_for(:student, :url=>{:action=>"update"}, :html=>{:class=>"form"}) do |f| %>
					<div class="row">
						<div class="col-lg-6">
							<%= f.text_field :last_name, :class=>"form-control", :placeholder=>"last name"%> <br>
						</div>
						<div class="col-lg-6">
							<%= f.text_field :first_name, :class=>"form-control", :placeholder=>"first name" %> <br>
						</div>
					</div>
					<%= f.text_field :cin, :class=>"form-control", :placeholder=>"CIN" %> <br>
					<%= f.text_field :phone, :class=>"form-control", :placeholder=>"phone" %> <br>
					<%= f.text_field :city, :class=>"form-control", :placeholder=>"city" %> <br>
					<%= f.text_field :address, :class=>"form-control", :placeholder=>"address" %> <br>
					<%= f.text_field :nationality, :class=>"form-control", :placeholder=>"nationality" %> <br>
					<%= f.text_field :birthday, :class=>"form-control", :placeholder=>"birthday dd/mm/yyyy", type: "date" %> <br>
					<label>Gender</label>   
					<%= f.radio_button(:gender, "male") %>
					<%= label_tag(:male, "male") %>&nbsp &nbsp &nbsp
					<%= f.radio_button(:gender, "female") %>
					<%= label_tag(:female, "female") %><br> <br>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">close</button>
					<%= submit_tag "Update Profile", id: "submit",  class: "btn btn-success", disable_with: "signing up ..." %> 
				</div>
				<% end %>
			</div>
		</div>   
	</div>
	<div class="col-lg-4">
		<% begin %>
		<%= error_messages_for(@student)%>
		<%rescue%>
		<% @student = Student.find_by_id(session[:student_id]) %>
		<% end %>
	</div>
</div>


<div class="row change_pass">
	<div class="col-lg-4">
		<%= form_tag({action: "change_pass"}) do %>
		<%= password_field_tag :old_password,"", :class=>"form-control", :placeholder=>"old password", required: "true" %> <br>
		<%= password_field_tag :password,"", :class=>"form-control", :placeholder=>"new password", required: "true" %> <br>
		<%= password_field_tag :password_confirmation,"", :class=>"form-control", :placeholder=>"new password confirmation", required: "true" %> <br>
		<%= submit_tag "Change password", class: "btn btn-primary", :data=>{disable_with: "Updating..."} %>
		<% end %>
	</div>
</div>

