
<div class="row">
    <div class="col-lg-6 col-lg-offset-2">
        <h3>Sign up</h3>
        <%= error_messages_for(@student) %>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <%= form_for(:student, :url=>{:action=>"create"}, :html=>{:class=>"form"}) do |f| %>
        <%= render :partial=>"students/fields_for_signup_student", :locals=>{:f=>f}  %>
        <div class="modal-footer">
            <%= submit_tag "Sign up", id: "submit",  class: "btn btn-success", disable_with: "signing up ..." %> 
        </div>
        <% end %>
    </div>
</div>