<div class="navbar" role="navigation">
	<div class="collapse navbar-collapse">
		<div class="col-lg-8 col-lg-offset-1">
			<ul class="nav navbar-nav">
				<li>                        </li>
				<li><%= link_to "Accepted", {:controller=>"applications", :action=>"list_of_accepted"} %></li>
				<li><%= link_to "Rejected", {:controller=>"applications", :action=>"list_of_rejected"} %></li>
				<li><%= link_to "In Progress", {:controller=>"applications", :action=>"list_of_inProgress"} %></li>
			</ul>
		</div>
	</div>
</div>