
<div class="modal fade modal_for_details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"><b>Students Details</b></h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1">
						<table class="table">
						<tr>
							<td width="1%">First Name:</td>
							<td width="1%"><label for="first name" id="first_name"></label></td>
						</tr>
						<tr>
							<td>Last Name:</td>
							<td><label for="first name" id="last_name"></label></td>
						</tr>
						<tr>
							<td>CIN</td>
							<td><label for="" id="cin"></label></label></td>
						</tr>
						<tr>
							<td>Phone</td>
							<td><label for="" id="phone"></label></td>
						</tr>
						<tr>
							<td><i class="glyphicon glyphicon-envelope"></i> Email: </td>
							<td> <label for="email" id="email"></label></td>
						</tr>
						<tr>
							<td>Address:</td>
							<td><label for="" id="address"></label></td>
						</tr>
						<tr>
							<td>City</td>
							<td><label for="" id="city"></label><br></td>
						</tr>
					</div>
				</table>
					</div>

			</div> <!-- end of modal body -->
			<div class="modal-footer">
				<button class="btn btn-primary" data-dismiss="modal">close</button>
			</div>
		</div>
	</div>
</div>
