<td colspan="100%">
	<% if progress == "33" %>
		<div class="progress">
			<div class="progress-bar progress-bar-warning" role="progressbar" data-percentage="<%= progress %>" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
				<span class="sr-only"><%= progress %> Complete (success)</span>
			</div>
		</div>
	<% elsif progress == "66" %>
		<div class="progress">
			<div class="progress-bar progress-bar-info" role="progressbar" data-percentage="<%= progress %>" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
				<span class="sr-only"><%= progress %> Complete (success)</span>
			</div>
		</div>
	<% elsif progress == "100" %>	
		<div class="progress">
			<div class="progress-bar progress-bar-success" role="progressbar" data-percentage="<%= progress %>" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
				<span class="sr-only"><%= progress %> Complete (success)</span>
			</div>
		</div>
	<% else %>
		<div class="progress">
			<div class="progress-bar progress-bar-danger" role="progressbar" data-percentage="100" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
				<span class="sr-only">100 Complete (success)</span>
			</div>
		</div>
	<% end %>
	<!-- <span class="sr-only"><%= progress %> Complete (success)</span> -->
</td>
