<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
		<%= form_tag({action: "search_students"},class: "navbar-form") do %>
			<div class="form-group">
				<%= text_field_tag :query, nil, class: "form-control", placeholder: "Enter Student's last name", required: "required", :onkeyup=>"search_students();return false", :id=>"search-text", size: "30" %>
				<%= submit_tag "Search", class: "btn btn-default", disable_with: "Searching..." %>
			</div>
		<% end %>
	</div>
</div>

<!-- <h4>The search needs to be optimzed for getting applications from the database</h4> -->