
   <script type="text/javascript">
      /*google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Day', 'Number of Applicants'],
          ['Mon',   2],
          ['Tu',   1],
          ['We',   5],
          ['Th',   8],
          ['F',   2],
          ['Sa',   5],
          ['Su',   3]
        ]);

        var options = {
          title: 'Recent Applications',
          hAxis: {title: 'Week', titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('weekly_chart_div'));
        chart.draw(data, options);
      }*/
    </script>
<div id="weekly_chart_div" style="width: 400px; height: 500px;"></div>