<div class="row">
	<div class="col-lg-12">
		<%= form_tag({action: "search"},class: "navbar-form", remote: true) do %>
			<div class="form-group">
				<%= text_field_tag :query, nil, class: "form-control", placeholder: "Enter Student's last name", required: "required", size: "30" %>
				<%= submit_tag "Search", class: "btn btn-default", disable_with: "Searching..." %>
			</div>
		<% end %>
	</div>
</div>