<div class="modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	</div>
	<div class="modal-body">
		<h3>You have already applied to:</h3>
		<h3><b><%= @college_name %> - <%= @major_name %></b></h3>
		<h4>check your applications list for more information <%= link_to "here", {:controller=>"applications", :action=>"list_applications_for_student", remote:"true"}, disable_with: "Waiting...", class: "btn btn-info" %></h4>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger" data-dismiss="modal">close</button>
	</div>
</div>