<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">CIN</Data></Cell>
        <Cell><Data ss:Type="String">First Name</Data></Cell>
        <Cell><Data ss:Type="String">Last Name</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">Phone</Data></Cell>
        <Cell><Data ss:Type="String">Major</Data></Cell>
        <Cell><Data ss:Type="String">Status</Data></Cell>
        <Cell><Data ss:Type="String">Date</Data></Cell>
      </Row>
    <% @result.each do |row| %>
      <Row>
        <Cell><Data ss:Type="String"><%= row["cin"] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= row["first_name"] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= row["last_name"] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= row["email"] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= row["phone"] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= row["major_name"] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= row["status"] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= row["created_at"] %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>