<style>
	.bg-blackish{
		height: 1150px;
	}
</style>
<script>
	function dropdown_year_changes(){
		location.href = "/applications/list_of_accepted?year=2013/2014";
	}
</script>
<div class="row">
	<div class="col-lg-8 col-lg-offset-2">				
		<%= render :partial=>"application_menu" %>
	</div>
</div>
<div class="row">
	<div class="col-lg-5 col-lg-offset-3 drop-down-year">
		<%= select_tag :year, options_for_select([["Academic Year", "" ], ["2013/2014", "2013/2014" ]]), class: "form-control", id: "dropdown-year", onchange: "dropdown_year_changes();" %>
	</div>
</div>
<div class="row">
	<div class="col-lg-6 col-lg-offset-4">
		<h2 class="text-success">Accepted applications</h2>
	</div>
</div>

<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
		<table class="table table-hover table-striped">
			<tr>
				<td>Student Name</td>
				<td>Major</td>
				<td>Application Date</td>
			</tr>
			<% @apps.each do |app|%>
				<tr>
					<% student = Student.select(:first_name, :last_name).where(:id=> app.student_id).first %>	
					<% major = Major.select(:major_name).where(:id=>app.major_id).first %>
					<td ><%= link_to "#{student.first_name} #{student.last_name}",{:controller=>"document_statuses", :action=>"show_docStatus_for_college", :sid=>app.student_id, :aid=>app.id, :mid=>app.major_id}, method: "POST"%></td>
					<td><%= major.major_name %></td>
					<td><%= app.created_at.to_s[0..9] %></td>		
					<td><%= link_to "Details", {:action=>"details", :sid=>app.student_id}, remote: "true", class: "btn btn-info"%></td>
					<td><%= link_to "Download", {:controller=>"applications", :action=>"download", :id=>app.id.to_s+".pdf"}, class: "btn btn-success"%></td>
				</tr>
			<% end %>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-lg-4 col-lg-offset-4">
		<%= will_paginate @apps, renderer: BootstrapPagination::Rails%>
	</div>
</div>
<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
		<%= link_to "Inform All Accepted Students", {:controller=>"applications", :action=>"inform_accepted_students"}, class: "btn btn-success", :data=>{:disable_with=>"please wait.."} %>
	</div>
</div>
<%= render :partial=>"modal_for_details"%>
<%= render :partial=>"partial_for_ajaxed_modal" %>