<style>
	.bg-blackish{
		height: 1150px;
	}
</style>
<div class="row">
	<div class="col-lg-8 col-lg-offset-2">				
		<%= render :partial=>"application_menu" %>
	</div>
</div>
<div class="row">
	<div class="col-lg-6 col-lg-offset-4">
		<h2 class="text-warning">Applications in Progress</h2>
	</div>
</div>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<table class="table table-hover table-striped">
			<tr>
				<td>Student Name</td>
				<td>Major</td>
				<td>Application Date</td>
				<td>Documents&Status</td>
			</tr>
			<% if @apps.empty? %>
				<tr>
					<td>
						<h2>List is Empty</h2>
					</td>
				</tr>
			<% end %>
			<% @apps.each do |app|%>
				<tr>
					<% student = Student.select(:first_name, :last_name).where(:id=> app.student_id).first %>	
					<% major = Major.select(:major_name).where(:id=>app.major_id).first %>
					<td ><%= link_to "#{student.first_name} #{student.last_name}",{:controller=>"document_statuses", :action=>"show_docStatus_for_college", :sid=>app.student_id, :aid=>app.id, :mid=>app.major_id}, method: "POST"%></td>
					<td><%= major.major_name %></td>
					<td><%= app.created_at.to_s[0..9] %></td>		
					<td><%= link_to "Details", {:action=>"details", :sid=>app.student_id}, remote: "true", class: "btn btn-info"%></td>
					<td><%= link_to "Download", {:controller=>"applications", :action=>"download", :id=>app.id.to_s+".pdf"}, class: "btn btn-success"%></td>
				</tr>
			<% end %>
		</table>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
			<%= will_paginate @apps, renderer: BootstrapPagination::Rails%>
		</div>
	</div>
<%= render :partial=>"modal_for_details"%>
<%= render :partial=>"partial_for_ajaxed_modal" %>