
<div class="modal">
		<div class="col-lg-12">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>Status of your Applications</h3>
			</div>
			<div class="modal-body">
				<% if @applications.empty? || @applications.nil? %>
				<h4>You have made no applications</h4>
				<% else %>
				<table class="table table-hover table-striped">
					<tr>
						<th>College name</th>
						<th>Major</th>
						<th>Date</th>
						<th></th>
						<th></th>
					</tr>
					<% @applications.each do |application| %>
					<tr>
						<% college = College.find_by_id(application.college_id) %>
						<% major = Major.find_by_id(application.major_id) %>
						<td><%= college.name %></td>
						<td><%= major.major_name %></td>
						<td><%= application.created_at.to_s[0..9] %></td>

						<td><%= link_to "Documents",{:controller=>"DocumentStatuses" ,:action=>"show_docStatus_for_student", :cid=>application.college_id} , :method=> "POST", class: "btn btn-primary", remote: "true", disable_with: "wait..."%></td>
						<% if application.status.casecmp("in progress") == 0%>
						<td><%= label_tag "in_progress","In Progress" , class: "btn btn-warning" %></td>

						<% elsif application.status.casecmp("Rejected") == 0%>
						<td><%= label_tag "rejected","Rejected",class: "btn btn-danger" %></td>

						<% else application.status.casecmp("Accepted") == 0%>
						<td><%= label_tag "accepted","Accepted",  class: "btn btn-success"%></td>
						<% end %>
					</tr>
					<tr class="">
						<% progress = check_progress(session[:student_id], college.id, major.id) %>
						<%= render :partial=>"progress_bar", :locals=>{:progress=>progress}%>
					</tr>
					<% end %>
				</table>
				<% end %>
			</div>
		</div>

		<div class="modal-footer">
			<button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">close</button>
		</div>
		
		<style>
		.modal-dialog{
			width:1000px;
		}
		</style>
</div>