<style>
	.list-app-college{
		padding-top: 20px;
		padding-left: 20px;
		border-radius: 2px;
	}
	.app-menu{
		padding: 0px;
		margin: -20px -20px -20px -20px;
	}
	.navbar-nav, .navbar-collapse{
		font-family: "open sans", serif;
	 	color: white;
	}
	.drop-down-year{
		margin-bottom: 10px;
	}
	.bg-blackish{
		height: 1150px;
	}
</style>
<script>
	function dropdown_year_changes(){
		location.href = "/applications/list_applications_for_college?year=2013/2014";
	}
</script>
<%current_year = Time.now.year.to_s %>
<div class="list-app-college">
	<div class="row app-menu">
		<div class="col-lg-8 col-lg-offset-2">				
			<%= render :partial=>"application_menu" %>
		</div>
	</div>	
	<div class="row">
		<div class="col-lg-5 col-lg-offset-3 drop-down-year">
			<%= select_tag :year, options_for_select([["Academic Year", "" ], ["2013/2014", "2013/2014" ]]), class: "form-control", id: "dropdown-year", onchange: "dropdown_year_changes();" %>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-11">
			<% if @apps.nil? %>
			<h2>No one applied</h2>
			<% else %>
			<table class='table table-hover table-striped'>
				<tr>
					<th width="20%">Student's name</th>
					<th width="35%">Major</th>
					<th width="20%">Date</th>
				</tr>
				<% @apps.each do |app|%>
					<tr>
						<% student = Student.select(:first_name, :last_name).where(:id=> app.student_id).first %>	
						<% major = Major.select(:major_name).where(:id=>app.major_id).first %>
						<td ><%= link_to "#{student.first_name} #{student.last_name}",{:controller=>"document_statuses", :action=>"show_docStatus_for_college", :sid=>app.student_id, :aid=>app.id, :mid=>app.major_id}, method: "POST"%></td>
						<td><%= major.major_name %></td>
						<td><%= app.created_at.to_s[0..9] %></td>
						<td><%= link_to "Download", {:controller=>"applications", :action=>"download", :id=>app.id.to_s+".pdf"}, class: "btn btn-success"%></td>
						<td><%= link_to "Details", {:action=>"details", :sid=>app.student_id}, remote: "true", class: "btn btn-info"%></td>
						<td><%= link_to "Delete", {:controller=>"applications", :action=>"delete", :id=>app.id}, :confirm=>"Are you sure you want to delete this application?", class: "btn btn-danger"%></td>
					</tr>
				<% end %>
				<tr class="top-row">
					<td><%= link_to "Download All", {:action=>"download_all.zip"}, class: "btn btn-info"%></td>
					<td><%= link_to "csv", {:action=>"download_all.csv"}, class: "btn btn-warning" %></td>
					<td><%= link_to "excel", {:action=>"download_all.xls"}, class: "btn btn-primary" %></td>
					<td><%= link_to "ZIP", {:action=>"download_all", :format=>"zip"}, class: "btn btn-danger"%></td>
				</tr>
			</table>
			<% end %>
		</div>
		<div class="col-lg-2">
		<%#= render partial: "weekly_applications" %>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
			<%= will_paginate @apps, renderer: BootstrapPagination::Rails%>
		</div>
	</div>

<%= render :partial=>"search_students_form" %>
<%= render :partial=>"modal_for_details" %>
</div>

<%= render :partial=>"partial_for_ajaxed_modal" %>



	