
<% major = Major.find_by_id(@major_id)%>
<% college = College.find_by_id(@college_id)%>
<div class="modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4>Applying to <span id="college_name"><%= college.name %></span></h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-8 centered">
						<h4>You are applying to <%= college.name %> - <%= major.major_name %></h4>
						<h6 class="">to confirm your application enter the code below and click submit</h6 >
						<%= form_for(:application, :url=>{:action=>"create"}, remote: "true") do |f| %>
							<%= f.hidden_field :college_id, :value=>@college_id %>
							<%= f.hidden_field :student_id, :value=>session[:student_id] %>
							<%= f.hidden_field :major_id, :value=>@major_id %>
							<div id="recaptcha_div"></div>
							<%#= recaptcha_tags %>
							<button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">close</button>
							<%= submit_tag "Submit Application", class: "btn btn-success", disable_with: "Please Wait..." %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
	 <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>	
</div>

<script>
	$(document).ajaxComplete(function(event, xhr, settings){
		//$(".modal_for_waiting").modal('hide');
		$(".modal_for_new_application").modal('hide');
	});
	$(".modal_for_new_application").modal('hide');
</script>

