
<div class="new_application">
	<script type="text/javascript">
	var RecaptchaOptions = {
		theme : 'clean'
	};
	</script>
	<% college = College.find_by_id(@college_id)%>
	<% major = Major.find_by_id(@major_id)%>
	<% if @application.errors.any? && (!major | !college)%>
		<h2 class="text-danger">Cannot make this application, try to start from the beginning</h2>
		<h4 class="text-danger">and make sure you are looged in</h4>
	<% end %>
	<% if !flash[:notice].blank? %>
		<h3><%= flash[:notice] %></h3>
	<% end %>
	<row class=""> </row>	
	<div class="row alert alert-info">
		<div class="col-lg-2"></div>
		<div class="col-lg-8 centered">
			<h3>You are applying to <%= college.name %> - <%= major.major_name %></h3>
			<h5 class="">to confirm your application enter the code below and click submit</h5 >
				<%= form_for(:application, :url=>{:action=>"create"}) do |f| %>
					<%= f.hidden_field :college_id, :value=>@college_id %>
					<%= f.hidden_field :student_id, :value=>session[:student_id] %>
					<%= f.hidden_field :major_id, :value=>@major_id %>
					<%= recaptcha_tags %>
					<%= submit_tag "Submit Application", class: "btn btn-success", disable_with: "Submitting the application..." %>
				<% end %>
			</div>
		</div>
	</div>