<div class="row">
	<div class="col-lg-12">
		<table class='table table-hover table-striped'>
			<tr>
				<th>Student's name</th>
				<th>CIN</th>
				<th>Date</th>
				<th></th>
			</tr>
			<% @apps.each do |app|%>
				<% student = Student.select(:first_name, :last_name).where(:id=> app.student_id).first %>
				<% if student.last_name.downcase.include?("#{params[:query]}".downcase) %>
				<tr>
					<% student = Student.select(:first_name, :last_name).where(:id=> app.student_id).first %>	
					<% major = Major.select(:major_name).where(:id=>app.major_id).first %>
					<td ><%= link_to "#{student.first_name} #{student.last_name}",{:controller=>"document_statuses", :action=>"show_docStatus_for_college", :sid=>app.student_id, :aid=>app.id, :mid=>app.major_id}, method: "POST"%></td>
					<td><%= major.major_name %></td>
					<td><%= app.created_at.to_s[0..9] %></td>
					<td><%= link_to "Download", {:controller=>"applications", :action=>"download", :id=>app.id.to_s+".pdf"}, class: "btn btn-success"%></td>
					<td><%= link_to "Details", {:action=>"details", :sid=>app.student_id}, remote: "true", class: "btn btn-info"%></td>
					<td><%= link_to "Delete", "#", class: "btn btn-danger"%></td>
				</tr>
				<% end %>
			<% end %>
		</table>
	</div>
</div>
<%= render :partial=>"search_students_form" %>
<%= render :partial=>"modal_for_details" %>
<script>
	$(document).ajaxStart(function(){
		$(".modal_for_wait").modal();
	});
	$( document ).ajaxComplete(function(event, xhr, settings ) {	
		var array = eval("("+xhr.responseText+")");
		$("#first_name").text(array["first_name"]);
		$("#last_name").text(array["last_name"]);
		$("#phone").text(array["phone"]);
		$("#email").text(array["email"]);
		$("#address").text(array["address"]);
		$("#cin").text(array["cin"]);
		$("#city").text(array["city"]);
		$(".modal_for_wait").modal('hide');
		$(".modal_for_details").modal();
   	});
</script>
