
<div class="modal">
	<div class="modal-body">
		<h4>Your application has been successfully submitted</h4>
		<h6>you can check your applications status</h6>
		<%= link_to "here", {:controller=>"applications", :action=>"list_applications_for_student", remote:"true", disable_with: "Waiting..."}, class: "btn btn-info" %>
		<h5 class="text-info">check you webmail for the documents that needs to be sent</h5>	
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger" data-dismiss="modal">close</button>
	</div>
</div>

