<% colors = ["#0D29FF", "#A9E80C", "#FF0000", "#76D8E8", "#0CE87A", "#5B64E8", "#E8B70C", "#E84B0C", "#A55BE8"] %>
<% cnt = 0 %>
<script type="text/javascript">
	google.load("visualization", "1", {packages:["corechart"]});
	google.setOnLoadCallback(drawChart);
	function drawChart() {
		var data = google.visualization.arrayToDataTable([
			['Major name', 'Acceptance rate',{role:'style'}],
			<% @college.majors.each do |major| %>
	          ['<%= major.major_name %>', <%= (major.applications.where(["lower(status) = ?", "accepted"]).count.to_f/major.applications.count.to_f)*100 %>, "<%= colors[cnt] %>"],
	          <% cnt = cnt + 1 %>
	          <% if cnt > 8 %>
	          	<% cnt = 0 %>
	          <% end %>
	        <% end %> 
			]);
         var options = {
         	legend : 'none',
          'title':'Acceptance rate for Majors',
          'width':1000,'height':400,
          pieHole: 0.4,
        };
        var chart = new google.visualization.ColumnChart(document.getElementById('rate_for_major_div'));
		//var chart = new google.visualization.PieChart(document.getElementById('rate_for_major_div'));
		chart.draw(data, options);
	}
</script>