<script type="text/javascript">

	google.load('visualization', '1.0', {'packages':['corechart']});
	google.setOnLoadCallback(drawChart);

      google.load('visualization', '1.0', {'packages':['corechart']});

      google.setOnLoadCallback(drawChart);

      function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Topping');
      data.addColumn('number', 'Slices');

      data.addRows([
        <% @college.majors.each do |major| %>
          ['<%= major.major_name %>', <%= major.applications.count %>],
        <% end %>      
      ]);
      
      var options = {'title':'Number of Applications per Major',
      'width':1200,'height':400,
       is3D: true
      };

      var chart = new google.visualization.PieChart(document.getElementById('pie_chart_div'));
      chart.draw(data, options);
  }
</script>