  <script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['1', 'Number of applicants',{ role: 'style' }],
        ['Jan',   3,   'blue'],
        ['Feb',   4,   'blue-green'],
        ['Mar',   6,  'green'],
        ['April', 8, '#B3F31B'],
        ['Mai',   <%= @mai%>,    'yellow'],
        ['Jun',   <%= @jun %>,   '#F9C926'],
        ['Jul',   <%= @jul %>,   'orange'],
        ['Aug',   <%= @aug %>,   '#F97615'],
        ['Sept',  <%= @sept %>,  'red'],
        ['Oct',   <%= @oct %>,   '#DA0751'],
        ['Nov',   <%= @nov %>,   '#45066A'],
        ['Dec',   <%= @dec %>,   '#C057F9'],
      ]);
    var options = {
      legend : 'none',
      title: 'Monthly Applicants',
      'width':1000, 'height':380,'bar': {groupWidth: "90%"},
      hAxis: {title: 'Month', titleTextStyle: {color: 'red'}}
    };

    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div_months'));
    chart.draw(data, options);
  }
  </script>