    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Application Rate'],
          ['2011',  1000],
          ['2012',  1170],
          ['2013',  660],
          ['2014',  1030]
        ]);

        var options = {
          title: 'Number of Applications',
          height: '400'
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>