   <script type='text/javascript' src='https://www.google.com/jsapi'></script>
     <script type='text/javascript'>
     google.load('visualization', '1', {'packages': ['geochart']});
     google.setOnLoadCallback(drawMarkersMap);

     function drawMarkersMap() {
      var data = google.visualization.arrayToDataTable([

       ['City',   'Applications', 'Accepted'],
       <% @cities_num_applicants.each do |row| %>
          ['<%= row["city"] %>', <%= row["applicants"] %>,    <%= row["accepted_applicants"] %>], 
       <% end %>
       ]);
      var options = {
        region: 'MA',
        width:'600',
        height:'400',
        resolution: 'provinces',
        enableRegionInteractivity: 'true',
        displayMode: 'markers',
        colorAxis: {colors: ['#F80505', '#17BF20']},
        legend: 'none',
      };

      var chart = new google.visualization.GeoChart(document.getElementById('morocco_map_div'));
      chart.draw(data, options);
    };
  </script>

  <!-- Sahara -->
<script type='text/javascript'>
   google.load('visualization', '1', {'packages': ['geochart']});
     google.setOnLoadCallback(drawMarkersMap);

      function drawMarkersMap() {
      var data = google.visualization.arrayToDataTable([
        ['city',      "applied",    "accepted"],
        ['Lagouira',     3,     1],
        ['Agounit',   2,     0],
        ['Laayoune',   2,     1]
      ]);
      var options = {
        region: 'EH',
        width: '400',
        height: '300',
        resolution: 'countries',
        enableRegionInteractivity: 'true',
        colorAxis: {colors: ['#F80505', '#17BF20']},
        displayMode: 'markers',
        legend: 'none',
      };
      var chart = new google.visualization.GeoChart(document.getElementById('chart_div_sahara'));
      chart.draw(data, options);
      google.visualization.events.addListener(chart, 'ready', myReadyHandler);
    };
</script>