	<style>
	.bg-blackish{
		height: 1830px;
	}
	</style>
	<script>
	function dropdown_year_changes(){
		location.href = "/statistics/index?year=2013/2014";
	}
	</script>
	<div class="row">
		<div class="col-lg-5 col-lg-offset-3 drop-down-year">
			<%= select_tag :year, options_for_select([["Academic Year", "" ], ["2013/2014", "2013/2014" ]]), class: "form-control", id: "dropdown-year", onchange: "dropdown_year_changes();" %>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-10 col-lg-offset-1 moroco_map">
			<div id="morocco_map_div" style="width:570; height:380"></div>
		</div>
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1 sahara_map">
				<div id="chart_div_sahara" style="width:450; height:600"></div>
			</div>
		</div>
	</div>

	<div class="row second-row">
		<div class="col-lg-12">
			<div id="pie_chart_div" style="width:1000; height:600"></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-lg-12 third-row">
			<div id="rate_for_major_div" style="width:800; height:500"></div>
		</div>
	</div>

	<div class="row second-row">
		<div class="col-lg-12">
			<div id="chart_div_months" style="width:300; height:600"></div>
		</div>
	</div>
	<!-- modals for stats -->
	<%= render :partial=>"statistics/college_all_majors_stats" %>
	<%= render :partial=>"statistics/college_monthly_applicants" %>
	<%= render :partial=>"statistics/stats_morocco_map" %>
	<%= render :partial=>"statistics/acceptance_rate_for_major" %>
	<%#= render :partial=>"statistics/num_applicants_per_year" %>
	<!---end of modal for stats-->

<script>
	function myReadyHandler(){
		$("#pie_chart_div").find("svg").attr("width","1100");
		$("#pie_chart_div").find("div:first-child").css("width","1000");
		$("#morocco_map_div").find("svg").attr("width","570");
		$("#morocco_map_div").find("svg").attr("height","340");
		$("#chart_div_sahara").find("svg").attr("width","283");
		
		//$("#morocco_map_div g:nth-child(2)").find("g rect").remove();
		//$("#morocco_map_div g:nth-child(3)").remove();
		$("#morocco_map_div g path:last-child").remove();
		$("#morocco_map_div g path:nth-child(3)").remove();
		$("#morocco_map_div g path:nth-child(7)").remove();
		$("#morocco_map_div g path:nth-child(6)").remove();
		$("#morocco_map_div g path:nth-child(7)").remove();
		$("#morocco_map_div g path:nth-child(8)").remove();
		$("#morocco_map_div g path:nth-child(9)").remove();
		$("#morocco_map_div g path:nth-child(6)").remove();
		$("#morocco_map_div g path:nth-child(7)").remove();
		$("#morocco_map_div g path:nth-child(4)").remove();
		$("#morocco_map_div g path:nth-child(4)").remove();
		$("#morocco_map_div g path:first-child").remove();
		$("#chart_div_sahara g path:last-child").remove();
	}
</script>

