<h2>Login </h2>
<div class="row">
	<div class="col-lg-2"></div>
	<div class="col-lg-6">
		<% if !flash[:notice].blank? %>
  			<h5 class="text-danger"><%= flash[:notice]%></h5>
 		<% end %>
			<%= form_tag({:controller => "access",:action=> "attempt_login_admin"}) do %>
				<%= render :partial=>"application/login" %>
			<%end %>
	</div> <!-- end of cols -->
</div> <!-- end of row -->

