<h3>Sign in</h3>
<div class="row">
	<div class="col-lg-2"></div>
	<div class="col-lg-6">

		<%= form_tag({:controller => "access", :action=> "attempt_login_college"}) do %>
			<%= render :partial=>"application/login" %>
			<h5><%= link_to "Forgotten password", "", :data=>{:toggle=>"modal", target: "#"}, onclick: "$('.modal_for_password_reset').modal();" %></h5>
		<% end %>
	</div>
</div>

<% if !flash[:notice].blank? %>
	<h5 class="text-danger"><%= flash[:notice]%></h5>
<% end %>