<div class="row">
	<div class="col-lg-1"></div>
	<div class="col-lg-10">
		<h3 class="text-info">
			The Status of your documents for <%= College.find_by_id(params[:cid]).name %>
		</h3>
		<table class="table table-hover table-striped">
			<tr>
				<th>Document name</th>
				<th>Status</th>
			</tr>
			<% @documents.each do |doc| %>
			<tr>
				<td><%= doc.name %></td>
				<% if doc.received  %>
				<td><label class="btn btn-success">Received</label></td>
				<% else %>
				<td><label class="btn btn-warning">Not Received</label></td>
				<% end %>	
			</tr>
			<% end %>		
		</table>
	</div>
	<div class="col-lg-1"></div>
</div>