<style>
	.progress-button{
		margin-left: 90px;
	}
	.doc_for_college{
		margin-left: -100px;
	}

</style>
<%  student = Student.find_by_id(params[:sid]) %>
<% application = Application.find_by_id(params[:aid]) %>

<% if !flash[:sms].blank? %>
	<div>
		<h2 class="row text-success"><%= flash[:sms] %></h2>
	</div>
<% end %>

<div class="row top-row doc_for_college">
	<div class="col-lg-10 col-lg-offset-1">
		<h3 class="text-info">
			The Status for the documents of <%= student.first_name + " "+ student.last_name%>
		</h3>
		<table class="table table-hover table-striped">
			<tr>
				<th>Document name</th>
				<th>Status</th>
			</tr>
			<% @documents.each do |doc| %>
			<tr>
				<td width="75%"><%= doc.name %></td>
				<% if doc.received  %>
				<td><%= link_to "Received", {:controller=>"document_statuses", :action=>"update_status", :status=>doc.id, :sid=>params[:sid],:aid=>params[:aid],:mid=>params[:mid] }, class: "btn btn-success", :data=>{disable_with: "Updating..."} %></td>
				<% else %>
				<!-- add ajax to change the state of this button -->
				<td><%= link_to "Not Received", {:controller=>"document_statuses", :action=>"update_status", :status=>doc.id, :sid=>params[:sid],:aid=>params[:aid], :mid=>params[:mid]}, class: "btn btn-warning", :data=>{disable_with: "Updating..."} %></td>
				<% end %>	
			</tr>
			<% end %>		
		</table>
	</div>
	<div class="col-lg-1"></div>
</div>
<div class="row progress-button">
	<% if application.status.casecmp("in progress") == 0%>
		<%= link_to "In Progress", "#",:data=>{:toggle=>"modal", :target=>""}, onclick: "$('.modal_for_change_app_status').modal()",class: "btn btn-warning btn-lg" %> 

	<% elsif application.status.casecmp("Rejected") == 0%>
		<%= link_to "Rejected", "#",:data=>{:toggle=>"modal", :target=>""}, class: "btn btn-danger btn-lg",onclick: "$('.modal_for_change_app_status').modal();" %> 

	<% else application.status.casecmp("Accepted") == 0%>
		<%= link_to "Accepted", "#",:data=>{:toggle=>"modal", :target=>""}, onclick: "$('.modal_for_change_app_status').modal();",class: "btn btn-success btn-lg"%> 
	<% end %>
</div>


<div class="modal fade modal_for_change_app_status" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"><b>Change Status</b></h4>
			</div>
			<div class="modal-body">
				<%= form_tag({:controller=>"applications", :action=>"update_status", :aid=>params[:aid], :sid=>params[:sid], :mid=>params[:mid]}) do %>
						<%= select_tag :status, options_for_select([["In Progress","In Progress"],['Rejected','Rejected'],['Accepted','Accepted']]),{class: "form-control input-md", title: "select a city"}%>
			</div> <!-- end of modal body -->
			<div class="modal-footer">
				<button class="btn btn-danger btn-md" data-dismiss="modal">close</button>
				<%= submit_tag "Change status", class: "btn btn-success btn-md", disable_with: "adding .." %>					
			</div>
			<% end %> <!-- end of form tag -->
		</div>
	</div>
</div>