<div class="modal">
	<div class="row">
		<div class="col-lg-12">
			<div class="modal-header">
				<h4 class="text-info">
					The Status of your documents for <%= College.find_by_id(params[:cid]).name %>
				</h4>
			</div>
			<div class="modal-body">
				<table class="table table-hover table-striped">
					<tr>
						<th>Document name</th>
						<th>Status</th>
					</tr>
					<% @documents.each do |doc| %>
					<tr>
						<td><%= doc.name %></td>
						<% if doc.received  %>
						<td><label class="btn btn-success">reçu</label></td>
						<% else %>
						<td><label class="btn btn-warning">Non reçu</label></td>
						<% end %>	
					</tr>
					<% end %>		
				</table>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" data-dismiss="modal">close</button>
				<%= link_to "Back", {:controller=>"applications", :action=>"list_applications_for_student"}, remote: "true", class: "btn btn-primary", disable_with: "Waiting..."%>
			</div>
		</div>
	</div>	
</div>