<div class="row spacer">
	<div class="col-lg-12">
		<h3><%= m.major_name %></h3>
		<h4 class="expand"><%= c.name%> (<%= c.abbreviation %>)<small> more</small></h4>
		<div class="collapse">
			<div class="col-lg-6">
				<h5>Type: <%= c.private_public.capitalize %></h5>
				<h5>City: <%= c.city %></h5>
				<% if m.level %>
					<h5>Level: <%= m.level %></h5>
				<% end %>
				<h5><%= "Cours de soir: "+ m.cour_du_soir if m.cour_du_soir %></h5>
				<% if c.prices.count > 0 %>
					<h5><b>price info:</b></h5>
					<% c.prices.each do |price| %>
						<h5><%= price.amount + "dhs" %>/<%= price.price_type.capitalize %></h5>
					<% end %>
				<% end %>
			</div>
			<div class="col-lg-6">
				<h5><%= link_to "More information", "#" %></h5>
				<h5><%= link_to "College Official Website", "http://#{c.college_url}"%></h5> 
				<% if m.major_url %>
				<h5><%= link_to "More information about the major", "http://#{m.major_url}"%></h5>
				<% end %>	
				<% if c.price_url %>
					<h5><%= link_to "More information about the prices", "#{c.price_url}" %></h5>		
				<% end %>
			</div>
		</div>
		<h5>
				<%= form_tag({controller: "applications", :action=>"new"} , class: "pull-left", method: "post", style: "display: inline-block; margin-right:7px") do %>
				<%= hidden_field_tag :college_id, c.id %>
				<%= hidden_field_tag :major_id, m.id %>
				<%= submit_tag "Apply", class: "btn btn-success", :data=>{disable_with: "Waiting.."} %>
			<% end %>
				<%= form_tag({controller: "applications", :action=>"subscribe"} , class: "pull-left", method: "post", style: "display: inline-block; margin-right:7px") do %>
				<%= hidden_field_tag :college_id, c.id %>
				<%= hidden_field_tag :major_id, m.id %>
			<%#= submit_tag "Interested", class: "btn btn-primary", :data=>{disable_with: "Please wait..."} %>
			<% end %>
		</h5>
	</div>
</div>


<% @advanced_result.each do |college| %>
			<% college.majors.each do |major| %>
				<% if major.level == @level %>
					<h3>level is equal</h3>
					<h4>major name; <%= major.major_name %></h4>
					<h4>level: <%= major.level %></h4>
				<% else %>
				<% end %>
			<% end %>
		<% end %>