<style>
	#times{
		 z-index:150;
    	position:absolute;  
	}
</style>
<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>

<div class="modal fade modal_for_map" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">		
		<div class="modal-content">
			<button id="times" type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true">&times;</button>
			<div id="map" style='width: 900px; height: 700px;'></div>
		</div>
			<div class="row">
				<div class="col-lg-5 col-lg-offset-1">
					<button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
				</div>
			</div>			
	</div>
</div>
<script>
$(".modal_for_map").on("shown.bs.modal", function () {
	google.maps.event.trigger(map, "resize");
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
		markers = handler.addMarkers(<%=raw @hash.to_json %>);
		handler.bounds.extendWith(markers);
		handler.fitMapToBounds();
		handler.getMap().setZoom(6)
	});
});
</script>
