<div class="modal fade modal_for_advanced_search" tabindex="-12" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<%= form_tag({:controller=> "welcome", :action=> "advanced_search"}, method: "get") do %>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"><b>Recherche Avancée</b></h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-6">
						<label for="public_private">Public/Privée</label>
						<%= select_tag :public_private, options_for_select([["Public","public"],["Privée", "private"], ["Les Deux", ""]]),:class=>"form-control", id: "public_private"%>
					</div>
					<div class="col-lg-6">
						<label for="Level">Level</label>
						<%= select_tag :level, options_for_select([["License","license"],["Master", "master"]]),:class=>"form-control"%> <br>
					</div>
				</div>
				<script>
				$("#price-div").hide();
				$( "#public_private" ).change(function() {
					if(($(this).val() === "private")||($(this).val() === "both")){
						$("#price-div").show(1000);
						$("#price").val("");
					}
					else {
						$("#price-div").hide(1500);
					}
				});
				</script>
				<div class="row" id="price-div" style="display:none">
					<div class="col-lg-6">
						<label for="price">Prix Minimum</label>
						<%#= text_field_tag :price_min,"",:class=>"form-control", :placeholder=>"Min value (0)", :type=>"number"%>
						<%= text_field_tag :price_min,"",:class=>"form-control", :placeholder=>"Valeur min (Dhs)", type: "number", id: "price"%>
					</div>
					<div class="col-lg-6">
						<label for="price">Prix Maximum</label>
						<%#= text_field_tag :price_min,"",:class=>"form-control", :placeholder=>"Min value (0)", :type=>"number"%>
						<%= text_field_tag :price_max,"",:class=>"form-control", :placeholder=>"valeur max (Dhs)", type: "number", id: "price"%>
					</div>

				</div>
				<div class="row">
					<div class="col-lg-6">
						<label for="cour_du_soir">Cours du Soir</label>
						<%= select_tag :cour_du_soir, options_for_select([["Oui","yes"],["Non", "no"]]), :class=>"form-control"%>
					</div>
					<div class="col-lg-6">
						<label for="avec_sans_bac">Avec/Sans bac</label>
						<%= select_tag :bac, options_for_select([["Avec","avec"],["Sans", "sans"],["Les deux", ""]]), :class=>"form-control"%> <br>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3"></div>
					<div class="col-lg-6">
						<%= render :partial=>"welcome/list_of_cities" %>
					</div>
				</div>
			</div> <!-- end of modal body -->
			<div class="modal-footer">	
				<div class="col-lg-12">
					<button class="btn btn-danger" data-dismiss="modal">Fermer</button>
					<%= submit_tag "Search", class: "btn btn-success", :data=>{disable_with: "Searching..."} %>
				</div>
			</div>
		</div>
	</div>
	<% end %>
</div>
