
<div class="modal fade modal_for_password_reset" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"><b>MOT DE PASSE OUBLIÉ: Entrez Votre Adress Émail</b></h4>
			</div>		
			<%= form_tag password_resets_path, :method=>"post", remote: "true" do %>
				<div class="modal-body">
						<%= text_field_tag :email, params[:email], class: "form-control", placeholder: "email address", type: "email", required: "true"%>
				</div>
				<div class="modal-footer">
					<button class="btn btn-danger" data-dismiss="modal">close</button>
					<%= submit_tag "Send email", class: "btn btn-success", disable_with: "Sending email..." %>				
				</div>
			<% end %>
		</div>
	</div>
</div>

<script>
	$(document).ajaxComplete(function(event, xhr, settings){
		//$(".modal_for_waiting").modal('hide');
		$(".modal_for_password_reset").modal('hide');
	});
	$(".modal_for_password_reset").modal('hide');
</script>