<div class="modal fade modal_for_new_application" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content content-to-add">
		</div>
	</div>
</div>
