<style>
	.top{
		margin-top: 10px;
	}
</style>
<div class="modal fade modal_for_search" tabindex="-12" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<%= form_tag({:controller=>"welcome", :action => "search"},{:method => "get"}) do %>
		<div class="modal-dialog">
			<div class="modal-content">
				
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title"><b>Cherchez par Etablissement/Filière</b></h4>
				</div>

				<div class="modal-body">
					<div class="row">
						<div class="col-md-6">
							<%= render :partial=>"welcome/list_of_cities" %>
						</div>
						
						<div class="col-lg-6">
							<%= select_tag :type, options_for_select([["Privée/Public",""],["Privée","private"],["Public","public"]]), {class: "form-control input-md", title: "Choose type of college"} %>
						</div>
					</div>
					
					<div class="row top">
						<div class="col-lg-5 col-md-offset-3">
							<%= radio_button_tag(:major_college_value, "major") %>
							<%= label_tag(:major, "Filière") %>&nbsp &nbsp &nbsp
							<%= radio_button_tag(:major_college_value, "college", "checked") %>
							<%= label_tag(:college, "Etablissement") %>
						</div>		
					</div>
	
					<div class="row">
						<div class="col-md-12">
							<%= text_field_tag :q, nil, :class=>"form-control input-md", :placeholder => "Etablissement/Filière", :onkeyup=>"ajax_search();return false;", :id=>"search-text", type: "search"%>
						</div>
					</div>
				</div>
				<div class="modal-footer">	
					<div class="col-lg-12">
						<button class="btn btn-danger" data-dismiss="modal">close</button>
						<%= submit_tag "Search", class: "btn btn-success", :data=>{disable_with: "Searching..."} %>
					</div>
				</div>
			</div>
		</div>
	<% end %> <!-- end of form -->
</div>	