<td width="40%">
	<h4 class=""><%= m.major_name %></h4>
	<h5><%= c.name%> (<%= c.abbreviation %>)</h5>	
	<% if m.level %>
		<h6><b>Niveau</b>: <%= m.level %></h6>
	<% end %>
	<% if m.duration %>
		<h6> <b>Durée: </b> m.duration</h6>
	<% end %>
</td>

<td>
	<h6><b>Type</b>: <%= c.private_public.capitalize %></h6>
	<h6><b>Ville</b>: <%= c.city %></h6>
	<h6><b>Telephone</b>: <%= c.phone %></h6>
	<h6><b>Cours du soir:</b> <%=m.cour_du_soir if m.cour_du_soir %></h6>
</td>

<td>
	<% if c.prices.count > 0 %>
			<h6><b>Prix:</b></h6>
			<% c.prices.each do |price| %>
				<h6><%= price.amount + "dhs" %>/<%= price.price_type.capitalize %></h6>
			<% end %>
	<% else %>
		 <h6>Etablissement Public</h6>		
	<% end %>
</td>

<td>
		<h6><b>Plus d'information:</b></h6>
		<% if m.major_url %>
			<h6><%= link_to "Filière", " #{m.major_url}"%></h6>
		<% end %>	
		<% if c.price_url %>
			<h6><%= link_to "Prix", "#{c.price_url}" %></h6>		
		<% end %>
		<h6><%= link_to "Site Officiel", "http://#{c.college_url}"%></h6> 
</td>

<td>
	<h6>
		<%= form_tag({controller: "applications", :action=>"new", remote: "true"} , class: "pull-left", method: "post", style: "display: inline-block; margin-right:7px", remote: "true") do %>
			<%= hidden_field_tag :college_id, c.id %>
			<%= hidden_field_tag :major_id, m.id %>
			<%= submit_tag "Postulez", class: "btn btn-success apply", disable_with: "Waiting..."%>
		<% end %>
	</h6>
</td>
