<style>
	.row-background{
		background: url("https://www.universityadmissions.se/images/search/searchresultrowfirst.png") no-repeat;
		padding-left: 50px;
		background-color: white;
		font-family: Roboto, serif;
	}
	.row-collapsed{
		background-color: black;
		display: block;
	}
	.apply{
		
	}
	.bord{
		
	}
	.spacer{
		margin-top: 0px;
	}
</style>
<div class="row spacer">
	<div class="col-lg-7 col-lg-offset-1 bord row-background">
		<h3><%= m.major_name %></h3>
		<h4 class="expand"><%= c.name%> (<%= c.abbreviation %>)<small> more</small></h4>
		<div class="collapse">
			<div class="">
				<div class="col-lg-3">
					<h5><b>Type</b>: <%= c.private_public.capitalize %></h5>
					<h5><b>City</b>: <%= c.city %></h5>
					<% if m.level %>
						<h5><b>Level</b>: <%= m.level %></h5>
					<% end %>
					<h5> <b>Cours de soir:</b> <%=m.cour_du_soir if m.cour_du_soir %></h5>
				</div>
				<% if c.prices.count > 0 %>
					<div class="col-lg-4">
					<h5><b>price info:</b></h5>
						<% c.prices.each do |price| %>
							<h5><%= price.amount + "dhs" %>/<%= price.price_type.capitalize %></h5>
						<% end %>
					</div>
				<% end %>
				<div class="col-lg-5">
					<h5><%= link_to "More information", "#" %></h5>
					<h5><%= link_to "College Official Website", "http://#{c.college_url}"%></h5> 
					<% if m.major_url %>
						<h5><%= link_to "More information about the major", "http://#{m.major_url}"%></h5>
					<% end %>	
					<% if c.price_url %>
						<h5><%= link_to "More information about the prices", "#{c.price_url}" %></h5>		
					<% end %>
				</div>
			</div> <!--end of row-collapsed-->
		</div>
		<h5>
				<%= form_tag({controller: "applications", :action=>"new"} , class: "pull-left", method: "post", style: "display: inline-block; margin-right:7px", remote: "true") do %>
				<%= hidden_field_tag :college_id, c.id %>
				<%= hidden_field_tag :major_id, m.id %>
				<%= submit_tag "Apply", class: "btn btn-success apply", disable_with: "Waiting...", onclick: "show_modal();" %>
			<% end %>
				<%= form_tag({controller: "applications", :action=>"subscribe"} , class: "pull-left", method: "post", style: "display: inline-block; margin-right:7px") do %>
				<%= hidden_field_tag :college_id, c.id %>
				<%= hidden_field_tag :major_id, m.id %>
			<%#= submit_tag "Interested", class: "btn btn-primary", :data=>{disable_with: "Please wait..."} %>
			<% end %>
		</h5>
	</div>
</div>

