<style>
	table{
		color: #2c2c2c;
	}
	td:hover{
		background-color: red;
	}
</style>
<% class_name = ["info","primary"] %>
<% cnt = 0 %>
<div class="row row-result result">
	<table class="table table-hover table-striped">
		<% if @found_colleges %>
			<% if @found_colleges.empty? || @found_colleges.nil? %>
				<h2>No Result for <%= params[:q] %></h2>
			<% end %>
			<% @found_colleges.each do |c|%>
				<% c.majors.each do |m| %>
					<% cnt = 0 if cnt == 2 %>
					<tr class="<%= class_name[cnt]%>"><%= render :partial=>"result_row", :locals=>{:c=>c, :m=>m} %></tr>
					<% cnt += 1 %>
				<% end %>
			<% end %>
		<% elsif @found_majors %>
			<% if @found_majors.empty? || @found_majors.nil? %>
				<h2>No Result for <%= params[:q] %></h2>
			<% end %>
		<!-- major radio button was selected-->
			<% @found_majors.each do |c|%>
				<% c.majors.each do |m| %>
					<% if m.major_name.to_s.downcase.include? "#{@q}" %>
						<% cnt = 0 if cnt == 2 %>
						<tr class="<%= class_name[cnt]%>"><%= render :partial=>"result_row", :locals=>{:c=>c, :m=>m} %></tr>
						<% cnt += 1 %>
					<% end %>
				<% end %>
			<% end %>
		<% elsif @advanced_result%>
		<!-- for advanced seach -->
			<% if @advanced_result.empty? %>
				<h2>No Result for <%= params[:q] %></h2>
			<% end %>
			<% @advanced_result.each do |c| %>
				<% c.majors.each do |m| %>
					<% if m.level == @level && m.cour_du_soir%>
						<% c.prices.each do |p|%>
							<% if p.amount.to_f.between?(@price_min.to_f, @price_max.to_f) %>
								<% cnt = 0 if cnt == 2 %>
								<tr class="<%= class_name[cnt]%>"><%= render :partial=>"result_row", :locals=>{:c=>c, :m=>m}%></tr>
								<% cnt += 1 %>
								<% break %>
							<% end %>
						<% end %>
					<% else %>
					<% end %>
				<% end %>
			<% end %>
		<% else %>
		<!-- search by field @found_fields is not nil-->
			<% if @found_fields.nil? || @found_fields.empty? %>
				<tr class="row">
					<h2>       No result found for "<%= params[:field] %>"</h2>
				</tr>
			<% end %>
			<% @found_fields.each do |c| %>
				<% c.majors.each do |m| %>
					<% if m.field == params[:field] %>
						<tr class="<%= class_name[cnt]%>"><%= render :partial=>"result_row", :locals=>{:c=>c, :m=>m}%></tr>
					<% end %>
				<% end %>
			<% end %>
			
		<% end %>
	</table>
</div>


<%#= render :partial=> "application/modal_for_waiting" %>

<div class="modal fade modal_for_waiting" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	
	</div>
</div>

