
<script>
	$(window).scroll(function(){
  $("#application-list").stop().animate({"marginTop": ($(window).scrollTop()) + "px", "marginLeft":($(window).scrollLeft()) + "px"}, "slow" );
});
</script>

<style>
	.spacer{
		margin-top: 10px;
	}
</style>

<div class="row row-result result">
	<% if @found_colleges %>
		<% if @found_colleges.empty? || @found_colleges.nil? %>
			<h2>No Result</h2>
		<% end %>
		<% @found_colleges.each do |c|%>
			<% c.majors.each do |m| %>
				<%= render :partial=>"result_row", :locals=>{:c=>c, :m=>m} %>
			<% end %>
		<% end %>
	<% elsif @found_majors %>
	<% if @found_majors.empty? || @found_majors.nil? %>
			<h2>No Result</h2>
		<% end %>
	<!-- major radio button was selected-->
		<% @found_majors.each do |c|%>
			<% c.majors.each do |m| %>
				<% if m.major_name.to_s.downcase.include? "#{@q}" %>
					<%= render :partial=>"result_row", :locals=>{:c=>c, :m=>m} %>
				<% end %>
			<% end %>
		<% end %>
	<% else %>
	<!-- for advanced seach -->
	<% if @advanced_result.empty? %>
		<h2>No Result</h2>
	<% end %>
		<% @advanced_result.each do |c| %>
			<% c.majors.each do |m| %>
				<% if m.level == @level && m.cour_du_soir%>
					<% c.prices.each do |p|%>
						<% if p.amount.to_f.between?(@price_min.to_f, @price_max.to_f) %>
							<%= render :partial=>"result_row", :locals=>{:c=>c, :m=>m}%>
							<% break %>
						<% end %>
					<% end %>	
				<% else %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
</div>


<%#= render :partial=> "application/modal_for_waiting" %>

<div class="modal fade modal_for_waiting" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	
	</div>
</div>

