

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">S'enregistrer</h4>
				<h6 class="modal-title text-danger">Enter Correct Information, they will be sent to the college you are applying to</h6>
			</div>
			<div class="modal-body">
				<%= form_for :student, :url=>{:controller=>"students", :action=>"create"} do |f| %>
				<%= render :partial=>"students/fields_for_signup_student", :locals=>{:f=>f} %>
				<div class="row">	
					<div class="col-lg-offset-6">
						<button class="btn btn-danger" data-dismiss="modal">close</button>
						<%= submit_tag "Register", class: "btn btn-success", disable_with: "Registering .." %>
					</div>	
				</div>
				<% end %> <!-- end of form tag -->
			</div> <!-- end of modal body -->		
		</div>
	</div>
</div>
