<style>
	img{
		height: 800;
		width: 486;
	}
	.fields{
		margin-left: 15px;
		margin-top: 15px;
	}
	.carousel-image{
		width: auto;
		height: 486px;
		max-height: 486px;
	}
</style>
<div class="row slider">
	<div id="MyCarousel" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#MyCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#MyCarousel" data-slide-to="1"></li>
			<li data-target="#MyCarousel" data-slide-to="2"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<img class="carousel-image" src="<%= asset_path('slider1.jpg')%>" alt="picture">
				<div class="carousel-caption">
				</div>
			</div>

			<div class="item">
				<img class="carousel-image" src="<%= asset_path('slider2.jpg')%>" alt="picture">
				<div class="carousel-caption">
				</div>
			</div>

			<div class="item">
				<img class="carousel-image" src="<%= asset_path('slider3.jpg')%>" alt="picture">
				<div class="carousel-caption">
				</div>
			</div>
		</div>


		<!-- Controls -->
		<a class="left carousel-control" href="#MyCarousel" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#MyCarousel" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>	
	</div>
</div> <!-- end of slider -->
<div class="row"> </div>
<div class="row">
	<% domains = ["Aéronautique",	"Agriculture/ Agronomie/ Agroalimentaire/ Foresterie",	"Architecture/ Archéologie/ Urbanisme",	"Arts plastiques/ Arts graphiques/ Carrières du spectacle",	"Assurance/ Contrôle et Qualité",	"Audit/ Contrôle de Gestion",	"Banques  Assurances",	"Bâtiments/ Travaux publics",	"Chimie/ Parachimie",	"Classes préparatoires",	"Commerce International",	"Commerce/ Gestion/ Administration",	"Communication/ Information/ Publicité/ Multimédia",	"Développement durable / Environnement",	"Diplomatie",	"Distribution",	"Electricité/ Electronique",	"Enseignement/ Education",	"Finance/ Comptabilité",	"Fonction publique",	"Grandes Ecoles d'Ingénieurs",	"Industrie",	"Informatique",	"Ingénierie",	"Journalisme",	"Juridique/ Droit d'Entreprise/ Sciences Publiques",	"Langues",	"Management",	"Maritime",	"Marketing",	"Mécanique/ Métallurgie",	"Médical/ Paramédical",	"Météorologie",	"Militaire/ Paramilitaire",	"Mines",	"Modélisme  Stylisme/ Textile",	"Professions à caractère social",	"Réseaux et Télécommunication",	"Ressources Humaines",	"Sciences Humaines",	"Sciences Islamiques",	"Sciences Politiques",	"Statistiques",	"Tourisme/ Hôtellerie/ Restauration",	"Traduction",	"Transport Logistique  PNC"] %>
		<!-- <h4 class="fields">Subjects/fields</h4> -->
			<div class="col-lg-4">
				<ul>
					<% i = 0 %>
					<% for i in 0..15 %>
						<li>
							<%= link_to "#{domains[i]}", {:controller=>"welcome", :action=>"search_by_field", :field=>domains[i]} %>
						</li>
					<% end %>
				</ul>
			</div>
			<div class="col-lg-4">
				<ul>
					<% i = 0 %>
					<% for i in 15..30 %>
						<li>
							<%= link_to "#{domains[i]}", {:controller=>"welcome", :action=>"search_by_field", :field=>domains[i]} %>
						</li>
					<% end %>
				</ul>
			</div>
			<div class="col-lg-4">
				<ul>
					<% i = 0 %>
					<% for i in 30..domains.length - 1 %>
						<li>
							<%= link_to "#{domains[i]}", {:controller=>"welcome", :action=>"search_by_field", :field=>domains[i]} %>
						</li>
					<% end %>
				</ul>
			</div>
</div>


