
<style>
	.row-top{
		margin-top: 10px;
	}
	.move-right{
		margin-left: 50px;
	}
	.header{
		height: 150px;
	}
	.modal-head{
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: 40px;
	}
</style>

<div class="row">
	<h1>Study In Morocco <small>College Applications</small</h1>	
</div>

<% if session[:student_id] == nil%>
	<div class="row">
		<div class="col-lg-12">
			<div class="pull-right">
				<h5><%= link_to "Create Account, Register", "", :data=>{:toggle=>"modal", :target=>""}, onclick: "$('#myModal').modal()" %></h5>
				<%= form_tag({:controller => "access", action: "attempt_login"}, {:class=>"form-inline"}) do %>
					<%= text_field :email, nil, :class=>"form-control", :placeholder=>"Email" %>
					<%= password_field_tag :password , nil, :class=> "form-control", :placeholder => "Password" %>
					<%= submit_tag "Sign in", class: "btn btn-primary", disable_with: "Signing in.." %>
				<% end %>
				<br>
				<div class="text-danger">
					<% if !flash[:notice].blank? %>
						<%= flash[:notice] %>
					<% end %>
				</div>
			</div>
		</div> <!-- end of pull-right -->
	</div> <!-- end of row -->
	<div class="row pull-right header"> <!-- begin sign up -->
		<h5><div class="pull-right"><%= link_to "Forgotten Password?", new_password_reset_path %></div></h5>
	</div> <!-- end of sign up -->
	<%= render :partial=>"signupModel" %>
<% else %>
	<div class="pull-right">                 
		<%= link_to "Settings", {:controller=>"students", :action=>"edit"}, class: "btn btn-default", remote: "true", disable_with: "Waiting..." %>
		<%= link_to "My Applications", {:controller=>"applications", :action=>"list_applications_for_student"}, remote: "true", class: "btn btn-default", disable_with: "Waiting..."%>		
	</div>
	<div class="row pull-right header">
		<h5><%= link_to "Logout", {:controller=>"access", :action=>"logout"} %></h5>
	</div>
<% end %>

<div class="row">
	
</div>
<%= form_tag({:controller=>"welcome", :action => "search"},{:method => "get"}) do %>
	<div class="row">
		<div class="col-lg-2 col-lg-offset-1">
			<%= render :partial=>"list_of_cities" %>
		</div>
		
		<div class="col-lg-2">
			<%= select_tag :type, options_for_select([["Private/Public",""],["Private","private"],["Public","public"]]), {class: "form-control input-md", title: "Choose type of college"} %>
		</div>

		<div class="col-lg-3">
			<%= link_to "All colleges", "#", class: "btn btn-default", :data=>{:toggle=>"modal", :target=>""}, onclick: "$('.modal_for_map').modal('show')" %>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2 col-lg-offset-6">
			<%= radio_button_tag(:major_college_value, "major") %>
			<%= label_tag(:major, "Major") %>&nbsp &nbsp &nbsp
			<%= radio_button_tag(:major_college_value, "college", "checked") %>
			<%= label_tag(:college, "college") %>
		</div>		
	</div>

	<div class="row">
		<div class="col-lg-8">
			<%= text_field_tag :q, nil, :class=>"form-control input-lg", :placeholder => "College/Major", :onkeyup=>"ajax_search();return false", :id=>"search-text", type: "search"%>
		</div>
		<div class="col-lg-4">
			<%= submit_tag "Search", class: "btn btn-success btn-lg", disable_with: "Searching..." %>
			<%= link_to "advanced search", "#",:data=>{:toggle=>"modal", :target=>""}, onclick: "$('.modal_for_advanced_search').modal();" %>
		</div>
	</div>

	<div class="row">
		
	</div>
<% end %> <!-- end of form -->


	<% if session[:search] %>
		<% session[:search] = nil %>
		<%= render :partial=>"welcome/search_result"%>
	<% end %>

<% if ( !@found_colleges && !@found_majors) && session[:search]%>
	<h3>No Colleges found</h3>
<% end %>
<%= render :partial=>"modal_for_advanced_search" %>
<%= render :partial=>"modal_for_map" %>
<%= render :partial=> "modal_for_new_application" %>

<script type="text/javascript">
	function showRecaptcha(element) {
		Recaptcha.create("6LesevASAAAAAFhBgl5ppIPmxqVoPDSa32hHdqXf", element, {
			theme : 'clean',
			callback: Recaptcha.focus_response_field});
	}
</script>

<script>
	$(document).ajaxSuccess(function(){

	});

	$(document).ajaxComplete(function(event, xhr, settings){
		progress_function();
		$(".content-to-add").empty();
		var modal = $(xhr.responseText).find('.modal').html();
		$(".content-to-add").append(modal);
		//$(".modal_for_waiting").modal('hide');
		$(".modal_for_new_application").modal();
		showRecaptcha('recaptcha_div');
	});

	$(document).ajaxError(function(){
		$(".modal_for_new_application").modal("hide");
		alert("Cannot make the application");
	});
</script>
 
