<script>
	$(window).scroll(function(){
  $("#application-list").stop().animate({"marginTop": ($(window).scrollTop()) + "px", "marginLeft":($(window).scrollLeft()) + "px"}, "slow" );
});
</script>
<% if !flash[:notice].blank? %>
	<%= flash[:notice] %>
<% end %>
<div class="row">
	<h1>Search Result</h1>
	<h3>city: <%= @city %></h3>
	<h3>type: <%= @type %></h3>
</div>
<hr>
<div class="row">
	<div class="col-lg-6">
	<% if @found_colleges %>
		<% @found_colleges.each do |c|%>
			<% c.majors.each do |m| %>
				<div class="row">
					<div class="col-lg-1"></div>
						<div class="col-lg-11">
							<h3><%= c.name%> (<%= c.abbreviation %>)</h3>
							<h4><%= m.major_name %></h4>
							<h5>Type: <%= c.private_public %></h5>
							<h5>Price info</h5>
							<h5><%= link_to "College Official Website", "http://#{c.college_url}"%></h5>
							<% if m.major_url %>
								<h5><%= link_to "Major Information URL", "http://#{m.major_url}"%></h5>
							<% end %>						
							<h5><%= link_to "More information", "#" %></h5>
							<h5>

								<%= form_tag({controller: "applications", :action=>"new"} , class: "pull-left", method: "post", style: "display: inline-block; margin-right:7px") do %>
									<%= hidden_field_tag :college_id, c.id %>
									<%= hidden_field_tag :major_id, m.id %>
								    <%= submit_tag "Apply", class: "btn btn-success", disable_with: "Application Process.." %>
								<% end %>
								<%= form_tag({controller: "applications", :action=>"subscribe"} , class: "pull-left", method: "post", style: "display: inline-block; margin-right:7px") do %>
									<%= hidden_field_tag :college_id, c.id %>
									<%= hidden_field_tag :major_id, m.id %>
								    <%= submit_tag "Interested", class: "btn btn-primary", disable_with: "Please wait..." %>
								<% end %>

							</h5>
						</div>
				</div>
			<% end %>
		<% end %>
	<% else %>
	<!-- major radio button was selected-->
		<% @found_majors.each do |c|%>
			<% c.majors.each do |m| %>
				<% if m.major_name.to_s.downcase.include? "#{@q}" %>
						<div class="row">
							<div class="col-lg-1"></div>
								<div class="col-lg-11">
									<h3><%= c.name%></h3>
									<h4><%= m.major_name %></h4>
									<h5><%= link_to "College Official Website", "http://#{c.college_url}"%></h5>
									<% if m.major_url %>
										<h5><%= link_to "Major Information URL", "http://#{m.major_url}"%></h5>
									<% end %>
									<h5><%= link_to "More information", "#" %></h5>
									<h5>
									<%= form_tag({controller: "applications", :action=>"new"} , class: "pull-left", method: "post", style: "display: inline-block; margin-right:7px") do %>
										<%= hidden_field_tag :college_id, c.id %>
										<%= hidden_field_tag :major_id, m.id %>
									    <%= submit_tag "Apply", class: "btn btn-success",disable_with: "Application Process.." %>
									<% end %>
									<%= form_tag({controller: "applications", :action=>"subscribe"} , class: "pull-left", method: "post", style: "display: inline-block; margin-right:7px") do %>
										<%= hidden_field_tag :college_id, c.id %>
										<%= hidden_field_tag :major_id, m.id %>
									    <%= submit_tag "Interested", class: "btn btn-primary", disable_with: "Please wait..." %>
									<% end %>
									</h5>
							</div>
						</div>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
	</div><!--End of big col-->

<div class="col-lg-1"></div>
	<div class="col-lg-5">
		
			<%= form_tag(:url=>{:controller=>"#", :action=>"#"}, id: "application-list-form") do %>
				<div id="application-list" class="sticky">
					
				</div>
				<%= submit_tag "Apply", class: "btn btn-success",id: "apply-submit", disable_with: "Please wait...", style:"display: none" %>
				<%= button_tag "cancel" , {class: "btn btn-danger",id: "apply-submit", style:"display: none"}%>
			<% end %>
		
	</div>
</div>

