<%= f.select :field, '	<option value="">DOMAINE DE FORMATION</option>
						<option value="Aéronautique">Aéronautique</option>
						<option value="Agriculture/ Agronomie/ Agroalimentaire/ Foresterie">Agriculture/ Agronomie/ Agroalimentaire/ Foresterie</option>
						<option value="Architecture/ Archéologie/ Urbanisme">Architecture/ Archéologie/ Urbanisme</option>
						<option value="Arts plastiques/ Arts graphiques/ Carrières du spectacle">Arts plastiques/ Arts graphiques/ Carrières du spectacle</option>
						<option value="Assurance/ Contrôle et Qualité">Assurance/ Contrôle et Qualité</option>
						<option value="Audit/ Contrôle de Gestion">Audit/ Contrôle de Gestion</option>
						<option value="Banques  Assurances">Banques  Assurances</option>
						<option value="Bâtiments/ Travaux publics">Bâtiments/ Travaux publics</option>
						<option value="Chimie/ Parachimie">Chimie/ Parachimie</option>
						<option value="Classes préparatoires">Classes préparatoires</option>
						<option value="Commerce International">Commerce International</option>
						<option value="Commerce/ Gestion/ Administration">Commerce/ Gestion/ Administration</option>
						<option value="Communication/ Information/ Publicité/ Multimédia">Communication/ Information/ Publicité/ Multimédia</option>
						<option value="Développement durable / Environnement">Développement durable / Environnement</option>
						<option value="Diplomatie">Diplomatie</option>
						<option value="Distribution">Distribution</option>
						<option value="Electricité/ Electronique">Electricité/ Electronique</option>
						<option value="Enseignement/ Education">Enseignement/ Education</option>
						<option value="Finance/ Comptabilité">Finance/ Comptabilité</option>
						<option value="Fonction publique">Fonction publique</option>
						<option value="Grandes Ecoles d\'Ingénieurs">Grandes Ecoles d\'Ingénieurs</option>
						<option value="Industrie">Industrie</option>
						<option value="Informatique">Informatique</option>
						<option value="Ingénierie">Ingénierie</option>
						<option value="Journalisme">Journalisme</option>
						<option value="Juridique/ Droit d\'Entreprise/ Sciences Publiques">Juridique/ Droit d\'Entreprise/ Sciences Publiques</option>
						<option value="Langues">Langues</option>
						<option value="Management">Management</option>
						<option value="Maritime">Maritime</option>
						<option value="Marketing">Marketing</option>
						<option value="Mécanique/ Métallurgie">Mécanique/ Métallurgie</option>
						<option value="Médical/ Paramédical">Médical/ Paramédical</option>
						<option value="Météorologie">Météorologie</option>
						<option value="Militaire/ Paramilitaire">Militaire/ Paramilitaire</option>
						<option value="Mines">Mines</option>
						<option value="Modélisme  Stylisme/ Textile">Modélisme  Stylisme/ Textile</option>
						<option value="Professions à caractère social">Professions à caractère social</option>
						<option value="Réseaux et Télécommunication">Réseaux et Télécommunication</option>
						<option value="Ressources Humaines">Ressources Humaines</option>
						<option value="Sciences Humaines">Sciences Humaines</option>
						<option value="Sciences Islamiques">Sciences Islamiques</option>
						<option value="Sciences Politiques">Sciences Politiques</option>
						<option value="Statistiques">Statistiques</option>
						<option value="Tourisme/ Hôtellerie/ Restauration">Tourisme/ Hôtellerie/ Restauration</option>
						<option value="Traduction">Traduction</option>
						<option value="Transport Logistique  PNC">Transport Logistique  PNC</option>'.html_safe,{class: "form-control"}, {class: "form-control"}%>