
<div class="modal fade modal_for_edit_major" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"><b>Edit major</b></h4>
			</div>
			<div class="modal-body">
				<%= form_for :major, :url=>{:controller=>"majors", :action=>"update"},:html=>{} do |f| %>
				<%= f.hidden_field :id %>
				<%= f.text_field :major_name, :class=>"form-control", :placeholder=>"major new name"%> <br>
				<%= f.text_field :major_url, :class=>"form-control", :placeholder=>"major url"%> <br>
				<%= f.text_field :level, :class=>"form-control", :placeholder=>"level"%> <br>
				<%= render :partial=>"majors/list_of_fields", :locals=>{:f=>f} %><br>
			</div> <!-- end of modal body -->
			<div class="modal-footer">
				<button class="btn btn-danger" data-dismiss="modal">close</button>
				<%= submit_tag "Update", class: "btn btn-success", disable_with: "Updating .." %>					
			</div>
			<% end %> <!-- end of form tag -->
			<!-- This form needs to be ajaxed -->
		</div>
	</div>
</div>
