<% @college = College.find_by_id(session[:college_id]) %>
<% @major = Major.new() %>
<div class="modal fade modal_for_new_major" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"><b>Add new major</b></h4>
			</div>
			<div class="modal-body">
				<%= form_for :major, :url=>{:controller=>"majors", :action=>"create"},:html=>{} do |f| %>
					<%= f.text_field :major_name, :class=>"form-control", :placeholder=>"major name", required: "required"%> <br>
					<%= f.text_field :major_url, :class=>"form-control", :placeholder=>"major url"%> <br>
					<%= f.text_field :level, :class=>"form-control", :placeholder=>"level",  required: "required"%> <br>
					<div class="row">
						<div class="col-lg-3">Cours du soirs</div>
						<div class="col-lg-9"><%= f.select :cour_du_soir, '<option value="yes">Yes</option>
													  					   <option value="no">no</option>'.html_safe,
					{class: "form-control"}, {class: "form-control"}%> <br></div>							
					</div>
					<%= render :partial=>"majors/list_of_fields", :locals=>{:f=>f} %><br>
			</div> <!-- end of modal body -->
			<div class="modal-footer">
				<button class="btn btn-danger" data-dismiss="modal">close</button>
				<%= submit_tag "add", class: "btn btn-success", disable_with: "adding .." %>					
			</div>
			<% end %>
		</div>
	</div>
</div>