<% class_name = ["default","active",] %>
<% @college = College.find_by_id(session[:college_id]) %>
<input type="hidden" id="old_major_name" value="" />

<% cnt = 0 %>
<div class="row">
	<div class="col-lg-4 col-lg-offset-4">
		<h2 class="text-success">Managing Majors</h2>
	</div>
</div>
<div class="row">
	<div class="col-lg-12 top-row">
		<div class="row">
			<div class="col-lg-12">
				<table class="table table-hover table-striped">
					<tr class="active">
						<th>Major name</th>
						<th>Field</th>
						<th>level</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tbody>
						<% @majors.each do |major|%>
						<% if cnt == 2 %>
						<% cnt = 0 %>
						<% end %>
						<tr class="<%= class_name[cnt] %>">
							<td width="50%"><%= major.major_name %></td>
							<td><%= major.field %></td>
							<td><%= major.level %></td>
							<td><%= link_to "URL", "#{major.major_url.to_s}", :target=>"blank", class: "btn btn-warning" %></td>
							<td><%= link_to "Edit","#" ,:class=>"btn btn-primary edit-button", :data=>{:toggle=>"modal",target:"",:id=>major.id}, onclick: "$('.modal_for_edit_major').modal();" %></td>
							<td><%= link_to "Delete", {:action => "delete", :id => major.id},:class=>"btn btn-danger", :confirm => "are you sure you want to delete #{major.major_name}?"%></td>
						</tr>
						<% cnt += 1%>
						<% end %>
					</tbody>
				</table>
				<%= link_to "+", "#",:data=>{:toggle=>"modal", :target=>""}, class: "btn btn-lg btn-success pull-right", onclick: "$('.modal_for_new_major').modal();"%>
			</div>	
		</div>
	</div>

		<!-- 	<div class="col-lg-5">
			<div id="pie_chart_div" style="width:450; height:600"></div>
			<%#= render :partial=>"statistics/college_all_majors_stats" %>
		</div> -->

</div>	
<div class="row">
	<div class="col-lg-4 col-lg-offset-4">
		<%= will_paginate @majors, renderer: BootstrapPagination::Rails%>
	</div>
</div>

<%= render :partial=>"majors/modal_for_edit_major" %>