<div class="modal fade modal_for_new_document">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">New document</h4>
			</div>

			<div class="modal-body">
				<%= form_for :document, :url=>{:controller=>"documents", :action=>"create"} do |f| %>
				  <%= f.text_field :name, :class=>"form-control" %>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" data-dismiss="modal">close</button>
				<%= submit_tag "Add document", id: "submit", class: "btn btn-success", disable_with: "Adding document..." %>
				<% end %>
			</div>
		</div>
	</div>
</div>