
<div class="row">
	<div class="col-lg-4 col-lg-offset-4">
		<h2 class="text-success">Required documents</h2>
	</div>
</div>
<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
		<% class_name = ["danger","info", "success", "active"] %>
		<% cnt = 0 %>
		<table class="table table-hover table-striped">
			<tr class="active">
				<th width="85%">Document name</th>
				<th></th>
			</tr>
			<tbody>
				<% @documents.each do |document|%>
				<% if cnt == 4 %>
				<% cnt = 0 %>
				<% end %>
				<tr class="<%= class_name[cnt] %>">
					<td width="70%"><%= document.name %></td>
					<td><%= link_to "Delete", {:action=>"delete", :id=>document.id}, class: "btn btn-danger btn-md", :confirm=>"Deleting #{document.name} ?" %></td>
				</tr>
				<% cnt+=1 %>
				<% end %>
			</tbody>
		</table>
		<%= link_to "+", "#", :class=>"btn btn-success pull-right btn-lg", :data=>{:toggle=>"modal", :target=>""}, onclick: "$('.modal_for_new_document').modal();" %>
		<%= render :partial=>"modal_for_new_document" %>
	</div>
</div>