<% @price = Price.new() %>
<div class="modal fade modal_for_new_price" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"><b>Add new price</b></h4>
			</div>
			<div class="modal-body">
				<%= form_for :price, :url=>{:controller=>"prices", :action=>"create"},:html=>{} do |f| %>
						<%= f.text_field :price_type, :class=>"form-control", :placeholder=>"(eg: month/semester/year)"%> <br>
						<%= f.text_field :amount, :class=>"form-control", :placeholder=>"amount"%>
			</div> <!-- end of modal body -->
			<div class="modal-footer">
				<button class="btn btn-danger" data-dismiss="modal">close</button>
				<%= submit_tag "add", class: "btn btn-success", disable_with: "adding .." %>					
			</div>
			<% end %> <!-- end of form tag -->
			<!-- This form needs to be ajaxed -->
		</div>
	</div>
</div>