<div class="row">
	<div class="col-lg-4 col-lg-offset-4">
		<h2 class="text-success">Managing Prices</h2>
	</div>
</div>
<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
		<% if @prices.nil? || @prices.empty? %>
		<h2 class="text-danger">There are no information about prices for this college</h2>
		<%= link_to "Add new price", ".modal_for_new_price", class: "btn btn-success btn-large pull-right", :data=>{:toggle=>"modal", :target=>".modal_for_new_price"} %>
		<% else %>
		<table class="table table-striped table-hover">
			<tr>
				<th width="35%">Type</th>
				<th width="35%">Amount</th>
				<th></th>
			</tr>
			<% @prices.each do |price| %>
			<tr>
				<td><%= price.price_type.capitalize %></td>
				<td><%= price.amount %> Dh</td>
				<td><%= link_to "Delete", {:action=>"delete", :id=>price.id}, class: "btn btn-danger", :confirm=>"are you sure you want to delete this record" %></td>
			</tr>
			<% end %>
		</table>
		<%= link_to "+", "#", class: "btn btn-success btn-large pull-right", :data=>{:toggle=>"modal", :target=>""}, onclick: "$('.modal_for_new_price').modal();" %>
		<% end %>
	</div>
</div>
<%= render :partial=>"modal_for_new_price" %>