		

		<div class="form-group">
			<label for="name" class="col-lg-4 control-label">College Name</label>
			<div class="col-lg-4">
				<%= f.text_field :name, :class=>"form-control", :placeholder=>"College name" %>
			</div>
		</div>

		<div class="form-group">
			<label for="name" class="col-sm-4 control-label">Abbreviation</label>
			<div class="col-lg-4">
				<%= f.text_field :abbreviation, :class=>"form-control", :placeholder=>"abbreviation" %>
			</div>
		</div>
		
		<div class="form-group">
			<label for="name" class="col-sm-4 control-label">Email</label>
			<div class="col-lg-4">
				<%= f.text_field :email, :class=>"form-control", :placeholder=>"email" %>
			</div>
		</div>
		
		<div class="form-group">
			<label for="name" class="col-sm-4 control-label">Email confirmation</label>
			<div class="col-lg-4">
				<%= f.text_field :email_confirmation, :class=>"form-control", :placeholder=>"email confirmation" %>
			</div>
		</div>
		
		<div class="form-group">
			<label for="name" class="col-sm-4 control-label">Password</label>
			<div class="col-lg-4">
				<%= f.password_field :password, :class=>"form-control", :placeholder=>"password" %>
			</div>
		</div>

		<div class="form-group">
			<label for="name" class="col-sm-4 control-label">Password confirmation</label>
			<div class="col-lg-4">
				<%= f.password_field :password_confirmation, :class=>"form-control", :placeholder=>"password confirmation" %>
			</div>
		</div>

		<div class="form-group">
			<label for="name" class="col-sm-4 control-label">City</label>
			<div class="col-lg-4">
				<%= render :partial=>"welcome/list_of_cities" %>
			</div>
			
		</div>

		<div class="form-group">
			<label for="name" class="col-sm-4 control-label">Address</label>
			<div class="col-lg-4">
				<%= f.text_field :address, :class=>"form-control", :placeholder=>"address" %>
			</div>
		</div>

		<div class="form-group">
			<label for="name" class="col-sm-4 control-label">Phone</label>
			<div class="col-lg-4">
				<%= f.text_field :phone, :class=>"form-control", :placeholder=>"phone" %>
			</div>
		</div>

		<div class="form-group">
			<label for="name" class="col-sm-4 control-label">Fax</label>
			<div class="col-lg-4">
				<%= f.text_field :fax, :class=>"form-control", :placeholder=>"fax" %>
			</div>
		</div>

		<div class="form-group">
			<label for="name" class="col-sm-4 control-label">Type</label>
			<div class="col-lg-4">
				<%= f.select :private_public,[['private','private'],['public','public']],{},{:class=>"form-control"}%>
			</div>
		</div>

		<div class="form-group">
			<label for="name" class="col-sm-4 control-label">Description</label>
			<div class="col-lg-4">
				<%= f.text_area :description, :class=>"form-control",:size=>"5x5", :placeholder=>"description" %>
			</div>
		</div>

		<div class="form-group">
			<label for="name" class="col-sm-4 control-label">Scholarship</label>
			<div class="col-lg-4">
				<%= f.select :scholarship, [["yes","true"],["no","false"]],{},{:class=>"form-control"} %>
			</div>
		</div>

		<div class="form-group">
			<label for="name" class="col-sm-4 control-label">College Website</label>
			<div class="col-lg-4">
				<%= f.text_field :college_url, :class=>"form-control", :placeholder=>"College website" %>
			</div>
		</div>
	</div>

