<% @college = College.find_by_id(session[:college_id])%>
<div class="modal fade modal_for_college_setting" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Change Profile Settings</h4>
			</div>
			<div class="modal-body">
				<!-- #the action in the next line needs to be removed -->
				<%= form_for :college, :url=>{:controller=>"colleges", :action=>"update_profile"},:html=>{} do |f| %>
				<div class="row">
					<div class="col-lg-6">
						<%= f.text_field :email, :class=>"form-control", :placeholder=>"email"%> <br>
					</div>
					<div class="col-lg-6">
						<%= f.text_field :email_confirmation, :class=>"form-control", :placeholder=>"email confirmation"%> <br>
					</div>
				</div>
				<%= f.password_field :old_password, :class=>"form-control", :placeholder=>"old password" %> <br>
				<%= f.password_field :password, :class=>"form-control", :placeholder=>"password" %> <br>
				<%= f.password_field :password_confirmation, :class=>"form-control", :placeholder=>"password confirmation"%> <br>
			</div> <!-- end of modal body -->
			<div class="modal-footer">
				<button class="btn btn-danger" data-dismiss="modal">close</button>
				<%= submit_tag "Update Settings", class: "btn btn-success", disable_with: "Updating Settings .." %>					
			</div>
			<% end %> <!-- end of form tag -->
			<!-- This form needs to be ajaxed -->
		</div>
	</div>
</div>