<% class_name = ["success","active","warning","danger","info","primary",] %>
<% cnt = 0 %>

<h1>List of Moroccan Colleges and Universities</h1>
<div class="row">
	<h4><b class="text-success"></h4>
		<% if !flash[:notice].blank? %>
		 	<%= flash[:notice]%>
		<% end %>
	</b>
</div>
<div class="row">
	<table class="table table-hover table-striped">
		<thead>
			<th>College Name</th>
			<th>City</th>
			<th>Phone</th>
			<th>Email</th>
			<th>type</th>
			<th></th>
			<th></th>
			<th></th>
		</thead>		
			<!-- give the <tr> different colors -->
		<% @colleges.each do |college| %>
			<% if cnt == 5 %>
				<% cnt = 0 %>
			<% end %>
			<tbody>
				<tr class="<%= class_name[cnt]%>">
					<td><%= college.name %></td>
					<td><%= college.city %></td>
					<td><%= college.phone %></td>
					<td><%= college.email %></td>
					<td><%= college.private_public %></td>
					<td><%= link_to "details", {:action=>"show", :id=>college.id}, class: "btn btn-success"%></td>
					<td><%= link_to "edit", {:action=>"edit", :id=>college.id}, class: "btn btn-primary" %></td>
					<td><%= link_to "Delete", {:action=>"delete", :id=>college.id},{class: "btn btn-danger", :confirm=> "Are you sure you want to delete #{college.name}"} %></td>		
					<!-- <td><a class="btn btn-danger" href="#"><i class="fa fa-trash-o fa-lg"></i> Delete</a></td> -->
				</tr>
			</tbody>
			<% cnt += 1 %>
		<% end %>
	</table>
	<% if @colleges.empty? %>
		<div class="row">
			<div class="col-lg-4">
			</div>
			<div class="col-lg-8 centered">
				<h3 class="text-danger">No colleges exists in the database</h3>
			</div>
		</div>
	<% end %>
</div>

<div class="row">
	<div class="col-lg-6">
		<%= link_to "New College", {:action=>"new_college"}, class: "btn btn-success pull-right" %>
		<%= form_tag({action: "import_csv"}, multipart: true) do %>
			<%= file_field_tag :csv_file, style: "display: inline-block; margin-right:7px" %>
			<%= submit_tag "Import CSV", class: "btn btn-warning", :data=>{disable_with: "Uploading", style: "display: inline-block;"} %>
		<% end %>
	</div>
	<!-- Form Begin-->
	<div class="col-lg-6">
		<%= form_tag({action: "search"},{class: "navbar-form navbar-left"}) do %>
			<div class="form-group">
		  		<%= text_field_tag :q, nil, class: "form-control", placeholder: "search" %>
		  		<%= submit_tag "Search", class: "btn btn-default", disable_with: "Searching..." %>
			</div>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="col-lg-4"></div>
	<div class="col-lg-4">
		<%= will_paginate @colleges, renderer: BootstrapPagination::Rails%>
	</div>
	<div class="col-lg-4"></div>
</div>