<div class="row">
	<h1>Add new college</h1>
	<%= error_messages_for(@college) %>	
		<%= form_for(:college, :url=>{:controller=>"colleges", :action=>"create"}, :html=>{:class=>"form-horizontal"}) do |f| %>
	<%= render :partial => "form_for_college", :locals=>{:f=>f} %>
	<div class="row">
		<div class="col-lg-8"></div>
		<div class="col-lg-4">
			<%= submit_tag "Create", id: "submit",  class: "btn btn-success", disable_with: "Creating ..." %> 
		</div>
	</div>
	<% end %>
</div>

