<html>
	<head></head>
	<body>
		<h4>Dear <%= @student.first_name%></h4>
		<p>This is to let you know that your applicatin for <b><%= @major_name%></b>  at <b><%= @college_name%></b> was classified as: <b><%= @status%></b></p>	

		<p>for more information about your other applications, check your status online at: <a href="http://localhost:3000/applications/list_applications_for_student">Applications status</a></p>

		<p>Good luck, </p>
		<p>StudyInMorocco</p>
	</body>

</html>