Dear <%= @student.first_name%>

This is to inform you that all of the documents required by <%= @college_name%> were received 
your application has entered the second phase, it will be processed and then you will be notified of the status (accepted, or rejected) of your application

Thank you for applying via EtudeInMorocco.ma