Dear <%= @student.first_name%>, 

Find attached the new application that you have submitted at EtudeInMorocco, to <%= @college.name%>

don't forget to send these documents
---------------------------------------------------------------
<%@college.documents.each do |d|%>
	* <%= d.name%>
<%end%>
---------------------------------------------------------------
to this address: <%= @college.address%>


Thank you for using EtudeInMorocco.ma

Development:
(This email will be redesigned later and an HTML page will be sent instead)