<DOCTYPE!>
<html>
	<head>
	</head>
	<body>
		To reset your password, click on the link below
		<%= link_to "Password Reset", "#" %>
		<%= edit_password_reset_url(@student.password_reset_token) %>
		if you did not ask to reset your password, just ignore this email
	</body>
</html>
