/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 body{
 	font-family: georgia, Arial, sans-serif;
 }
 body, html{
 	 height: 100%;
 }
 .bg-black{
 	background: #1D1B1B;
 	box-shadow: inset 0 0 100px rgba(0,0,0,.5);
 	color: #fff;
 }
 .bg-blackish{
 	background-color: #131311;
 	box-shadow: inset 0 0 100px rgba(0,0,0,.5);
 	z-index: 10;
 	height: 800px;
 }
 .header{
 	height: 120px;
 	margin-right: 0px;
 }
 .navigation{
 	color: #fff;
 }
 .side-bar-menu{
 	padding-top: 40px;
 }
 .side-bar-menu ul{
 }
 .side-bar-menu ul li{
 	list-style-type: none;
 	border-bottom: 1px solid #7C7A65;
 	padding-left: 40px;
 }
 .side-bar-menu ul li a{
 	color: white;
 	font-size: 15px;
 	list-style: none;
 	text-decoration: none;
 }

 .side-bar-menu ul li a:hover{
 	background: rgba(49, 50, 68, 1);
 }
 .school-name{
 	padding-top: 40px;
 }
 .sim{
 	padding-top: 15px;
 }

 .side-bar-menu ul li ul li{
 	padding-top: 5px;
 	padding-left: 15px;
 	padding-bottom: 10px;
 	border-bottom: none;
 }
 
 .main-content{
 	color: #04050B;
 	width: 100;
 }
 .navigation{
 	width: 100%;
 	height: 100%;
 	margin:0px auto;
 }
 .container{
 	margin: 0px auto;
 	width: 100%;
 }
 .sahara_map{
	margin-left: 300px;
 }
  #chart_div_sahara{
 	margin-top: -100px;
 	margin-left: 145px;
 }
  #morocco_map_div{
	margin:0px 0px 0px 168px;
	z-index: 10;
 }
 #pie_chart_div{
 	margin-left: -116px;
 	z-index: 2;
 }
 #chart_div_months{
	margin-top: 0px;
 }
 .third-row{
 	margin: -70px 0px 0px 0px;
 }
 .college-title{
 	font-family: "Yanone Kaffeesatz";
 	font-weight: 600;
 }
