.forgot_pass{
	margin-right: 10px;
}
body{
	
}
.container{
	width: 980px;
	margin: 0 auto;
	background-image: -webkit-gradient(
	linear,
	left bottom,
	right top,
	color-stop(0, #EAEAF2),
	color-stop(1, #FAFAFA)
);
background-image: -o-linear-gradient(right top, #EAEAF2 0%, #FAFAFA 100%);
background-image: -moz-linear-gradient(right top, #EAEAF2 0%, #FAFAFA 100%);
background-image: -webkit-linear-gradient(right top, #EAEAF2 0%, #FAFAFA 100%);
background-image: -ms-linear-gradient(right top, #EAEAF2 0%, #FAFAFA 100%);
background-image: linear-gradient(to right top, #EAEAF2 0%, #FAFAFA 100%);

/*Box Shadow*/
-webkit-box-shadow: 3px 4px 14px 0px rgba(46, 50, 50, 1);
-moz-box-shadow:    3px 4px 14px 0px rgba(46, 50, 50, 1);
box-shadow:         3px 4px 14px 0px rgba(46, 50, 50, 1);

	/*F4F4F4*/
}
.separator{
	background-color: #eee;
    border: 0 none;
    color: #eee;
    height: 1px;
}
.home-body{
	width:800px;
	margin:0px auto;
}
.my-btn{
	width: 150px;
}
.buttons{
	margin-top: -10px;
	margin-left: 11px;
}
.slider{
	width: 800px;
	margin: 0px auto;
	margin-left: 100px;
}
.login{
	margin-top: 11px;
}
.logout{
	margin-top: 40px;
}
.forgot-pass{
	margin-top: 5px;
	margin-right: 15px;
}

.ui-menu .ui-menu-item a {
  font-size: 14px;
  background:white;
   border:none;
}
.ui-autocomplete {
  z-index: 1051 !important;
}
.ui-menu .ui-menu-item a:hover{
    color: black;
    background-color: #D2D1C8;
    border:none;
}