<!-- Display Errors -->
<% if object.errors.any? %>
<div class="text-danger">
	<h2><%= pluralize(object.errors.size, "Error") %></h2>
	<p>there are problems with the following fields: </p>
	<% object.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
</div>
<% end %>