
<div class="form-group">
	<label for="email">Email address</label>
	<%= text_field_tag :email, nil,:class=>"form-control", :placeholder=>"email address" %>
</div>
<div class="form-group">
	<label for="exampleInputPassword1">Password</label>
	<%= password_field_tag :password, nil,:class=>"form-control", :placeholder=>"password" %>
</div>
<%= submit_tag "Sign in", class: "btn btn-success pull-right",  disable_with: "Signin in..." %>