<!DOCTYPE html>
<html>
<head>
	<title>StudyInMorocco</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%= favicon_link_tag '/assets/favicon.ico' %>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
</head>
<body>
	<div class="container">
		<!-- Header -->
		<h1>Administrator Panel <small>Manage colleges</small></h1>
		<div class="row">
			<div class="navbar navbar-inverse" role="navigation">
				<div class="navbar-brand">Study In Morocco</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="">                            </a></li>
						<li><a  href=""><i class="icon-user icon-white"></i> Home</a>
						</li>
						<li class="divider-vertical"></li>
						<!-- <li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage Colleges <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><%#= link_to "New College", {:controller=>"colleges", :action=>"new_college"} %></li>
								<li class="divider"></li>
								<li><a href="#">Edit College</a></li>
								<li class="divider"></li>
								
								<li class="divider"></li>
								<li><%#= link_to "Search", {:controller=>"colleges", :action=>"search"} %></a></li>
							</ul>
						</li> -->
						<li><%= link_to "Manage Colleges", {:controller=>"colleges", :action=>"list"} %></a></li>
						<li><a  href="#">Students</a></li>
						<li><a  href="#"><i class="icon-signal icon-white"></i>Statistics</a></li>
						<li><a  href="#">CMS</a></li>
						<li><a  href="#">Settings</a></li>
						<li>                                  </li>
						<li class="dropdown pull-right">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><%= link_to "Settings", {:controller=>"admins", :action=>"settings"} %></li>
								<li class="divider"></li>
								<li><%= link_to "Logout", :controller=>"access", :action=>"logout_admin" %></a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End of header -->

		<%= yield %>

	</div>





	<!-- Google Analytics -->
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-49741785-1', 'studyinmorocco.herokuapp.com');
	ga('send', 'pageview');

	</script>
</body>
</html>
