<!DOCTYPE html>
<html>
<head>
	<title>StudyInMorocco</title>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%= favicon_link_tag image_tag(asset_path('favicon.ico'))%>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	<!-- google font -->
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

	<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
	
	<style>
	body{
		font-family: helvetica, serif;
	}
	.footer{
		text-align: center;
		margin: 0px auto;
	}
	.container{
		min-height: 780px;
	}
	</style>
</head>
<body style="background-color: white">
	<div class="container">
		<div class="row header">
			<div class="col-lg-4">
				<%= link_to image_tag(asset_path('logo.png'), height: "120"), url_for({:controller=>"welcome", :action=>"home"}) %>
			</div>
			<% if session[:student_id].nil?%>
				<div class="col-lg-8 login">
					<div class="pull-right">
						<h6><%= link_to "S'enregistrer", "", :data=>{:toggle=>"modal", :target=>""}, onclick: "$('#myModal').modal()" %></h6>
						<%= form_tag({:controller => "access", action: "attempt_login"}, {:class=>"form-inline"}) do %>
							<%= text_field :email, nil, :class=>"form-control", :placeholder=>"Email", required: "required", type: "email" %>
							<%= password_field_tag :password , nil, :class=> "form-control", :placeholder => "Mot de Passe", required: "required"%>
							<%= submit_tag "S'identifier", class: "btn btn-primary", disable_with: "Signing in.." %>
						<% end %>
					</div>
				</div> 
					<h6>
						<div class="pull-right forgot-pass">
						<%= link_to "Mot de pass oublié?","#", :data=>{:toggle=>"modal",:target=>""}, onclick: "$('.modal_for_password_reset').modal();" %>
						</div>
					</h6>
					<% if !flash[:notice].blank? %>
						<div class="row text-danger">
								<%= flash[:notice] %>
						</div>
					<% end %>
			<% else %>
				<div class="col-lg-5 col-lg-offset-3 logout">                 
					<%= link_to "My Profile", {:controller=>"students", :action=>"edit"}, class: "btn btn-default", remote: "true", disable_with: "Waiting..." %>
					<%= link_to "Settings", "#", class: "btn btn-default", onclick: "$('.modal_for_change_password').modal();" %>	
					<%= link_to "Logout", {:controller=>"access", :action=>"logout"}, class: "btn btn-danger" %>
				</div>			
			<% end %>
		</div>

		<div class="row">
			<div class="navbar navbar-inverse" role="navigation">
				<div class="navbar-brand">Colleges Applications</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav pull-right">
						<li><%= link_to "Accueil", {:controller=>"welcome", :action=>"home"} %></li>
						<li><%= link_to "Recherche", "",:data=>{:toggle=>"modal", :target=>""}, onclick: "$('.modal_for_search').modal();" %> </li>
						<li class="divider-vertical"></li>
						<li><%= link_to "Recherche Avancée", "",:data=>{:toggle=>"modal", :target=>""}, onclick: "$('.modal_for_advanced_search').modal();" %></li>
						<li><%= link_to "Ecoles/Universités", "#", class: "", :data=>{:toggle=>"modal", :target=>""}, onclick: "$('.modal_for_map').modal('show');" %></li>
						<% if !session[:student_id].nil? %>
							<li><%= link_to "Mes Candidatures", {:controller=>"applications", :action=>"list_applications_for_student"}, remote: "true", class: "btn btn-inverse", disable_with: "Waiting..."%>	</li>
						<% end %>
					</ul>
				</div>
			</div>	
		</div>
		<%= yield %>
	</div>

<div class="row footer pull-rigth">
			&copy; Copyright StudyInMorocco.com 2014 
		</div>
<!-- modal and javascript -->	
<script type="text/javascript">
	function showRecaptcha(element) {
		Recaptcha.create("6LesevASAAAAAFhBgl5ppIPmxqVoPDSa32hHdqXf", element, {
			theme : 'clean',
			callback: Recaptcha.focus_response_field});
	}
</script>
	
	<!-- partials -->
	<%= render :partial=>"welcome/modal_for_password_reset" %>
	<%= render :partial=>"welcome/modal_for_map" %>
	<%= render :partial=>"welcome/modal_for_advanced_search" %>
	<%= render :partial=>"welcome/modal_for_new_application" %>
	<%= render :partial=>"welcome/modal_for_search" %>
	<%= render :partial=>"welcome/signupModel" %>
	<%= render :partial=>"students/modal_for_change_password"%>
	
<script>
	$(document).ajaxSuccess(function(){
	});
	$(document).ajaxComplete(function(event, xhr, settings){
		progress_function();
		$(".content-to-add").empty();
		var modal = $(xhr.responseText).find('.modal').html();
		$(".content-to-add").append(modal);
		//$(".modal_for_waiting").modal('hide');
		$(".modal_for_new_application").modal("show");
		showRecaptcha('recaptcha_div');
	});
	$(document).ajaxError(function(){
		$(".modal_for_new_application").modal("hide");
		alert("Cannot make the application");
	});
</script>
	<!-- Google Analytics -->
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-49741785-1', 'studyinmorocco.herokuapp.com');
	ga('send', 'pageview');
	</script>
	
</body>
</html>
