<!DOCTYPE html>
<html>
<head>
	<title>StudyInMorocco</title>
	<!--Remove this huge number of javascript references and use only the ones you need-->
	<%= stylesheet_link_tag    "application", media: "all"%>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<%= favicon_link_tag '/assets/favicon.ico' %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather:400,300italic,300,400italic' rel='stylesheet' type='text/css'>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="wrapper">
		<div class="header bg-black">
			<div class="col-lg-7 sim">
				<h1>Study In Morocco <small>Colleges Panel</small></h1>
			</div>
			<div class="col-lg-5">
				<div class="school-name">
					<h2><%= College.find_by_id(session[:college_id]).name%></h2>
				</div>
			</div>
		</div><!--end of header row-->
		<div class="row navigation">
			<div class="col-lg-2 bg-blackish">
				<div class="nav-collapse sidebar-nav side-bar-menu">
					<ul class="nav nav-tabs nav-stacked">
						<li><%= link_to "Logout", :controller=>"access", :action=>"college_logout" %></a></li>
						<li>
							<%= link_to "Majors", {:controller=>"majors", :action=>"list_majors"}%>
						</li>	
						<li><%= link_to "College Profile", {:controller=>"college_admins", :action=>"edit"} %></li>
						<li><%= link_to "Applications", {:controller=>"applications", :action=>"list_applications_for_college"}%></li>
						<li><%= link_to "Statistics", :controller=>"statistics", :action=>"index" %></li>
						<li>
							<%= link_to "Documents", {:controller=>"documents", :action=>"list_documents"}%>
						</li>
						<li>
							<%= link_to "Prices", {:controller=>"prices", :action=>"list"}%>
						</li>
					</ul>
				</div>
			</div> <!-- end of side-bar -->
			<div class="col-lg-10 main-content">
				<%= yield %>
			</div>
		</div> <!-- end of navigation row -->
	</div><!--end of wrapper class-->
	<%= render :partial=>"colleges/modal_for_college_settings" %>
	<%= render :partial=>"majors/modal_for_new_major" %>
	
	<!-- Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-49741785-1', 'studyinmorocco.herokuapp.com');
		ga('send', 'pageview');

	</script>
</body>
</html>
