<!DOCTYPE html>
<html>
<head>
	<title>StudyInMorocco</title>
	<%= include_gon %>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<%= favicon_link_tag '/assets/favicon.ico' %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>
<body>
	<div class="container">

		<div class="row">
			<nav class="navbar" role="navigation">
				<h2>Study In Morocco <small>College Dashboard</small></h2> 
			</nav>
		</div>
		<div class="row">
			<div class="nav pull-right">
				<ul class="nav nav-pills">
					<li><%= link_to "Majors", :controller=>"majors", :action=>"list_majors"%></li>
					<li class="active"><a href="#">Student</a></li>
					<li class=""><%= link_to "Statistics", {:controller=>"statistics", :action=>"list_stats_for_college"} %></li>
					<li><%= link_to "Application",{:controller=>"applications", :action=>"list_applications_for_college"} %></li>
					<li class="dropdown pull-right">
						<a class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><%= link_to "Profile Settings","#",:data=>{:toggle=>"modal", :target=>".modal_for_college_setting"}%></li>
							<li class="divider"></li>
							<li><%= link_to "Logout", :controller=>"access", :action=>"college_logout" %></a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div> <!-- end of row -->

		<% @college = College.select("name").find_by_id(session[:college_id]) %>
		<h2>Welcome <%= @college.name %></h2>
		<% if !flash.blank? %>
		<%= flash[:notice]%>
		<% end %>
		<div class="row">
			<div class="col-lg-2">
				<ul class="nav nav-pills nav-stacked">
					<li class="active"><%= link_to "Documents", :controller=>"documents",:action=>'list_documents' %></li>
					<li class="active"><%= link_to "College Settings", {:controller=>"college_admins", :action=>"edit"} %></li>
					<li class="active"><%= link_to "Price Settings", {:controller=>"prices", :action=>"list"} %></li>
				</ul>
			</div>
			<div class="col-lg-9">
				<%= yield %>
			</div>
		</div>
	</div> <!-- end of container -->
	<%= render :partial=>"colleges/modal_for_college_settings" %>
	<%= render :partial=>"majors/modal_for_new_major" %>



	<!-- Google Analytics -->
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-49741785-1', 'studyinmorocco.herokuapp.com');
	ga('send', 'pageview');

	</script>
</body>
</html>
